<% @loaded = 'false' %>
<div data-role="page" class="jqm-demos jqm-home" id="armor">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li><a href="#ArmorMadeEasy">Armor Made Easy</a></li>
               <li data-role="list-divider">Types of Armor</li>
               <li><a href="#SyntheticArmor">Synthetic Armor</a></li>
               <li><a href="#ClothArmor">Cloth Armor</a></li>
               <li><a href="#LightLeatherArmor">Light Leather Armor</a></li>
               <li><a href="#StrongLeatherArmor">Strong Leather Armor</a></li>
               <li><a href="#ChainmailArmor">Chainmail Armor</a></li>
               <li><a href="#ButtedPlateArmor">Butted Plate Armor</a></li>
               <li><a href="#ScaleArmor">Scale Armor</a></li>
               <li><a href="#LamellarArmor">Lamellar Armor</a></li>
               <li><a href="#BrigandineArmor">Brigandine Armor</a></li>
               <li><a href="#PlateArmor">Plate Armor</a></li>
            </ul>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

<!-- Armor Made Easy Page -->
<div data-role="page" class="jqm-demos jqm-home" id="ArmorMadeEasy">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Armor Made Easy</h3>
    			<p>The armor rules can look intimidating at first glance but it can be boiled down to a few simple rules that allow you to interact with the armor system in combat.</p>
				<p>Armor stops hits by losing points in the location it is hit. Once a location is out of points the armor doesn’t stop hits anymore and the player is hit. All hits remove a single point from the armor in the location struck unless the strike is Armor-Breaking or Armor-Destroying. The three most common Armor-Breaking strikes are from an arrow, a great weapon swung two-handed, or a strike from a Barbarian. Armor-Destroying strikes are much rarer.</p>
				<p><a href="/states/#SpecialEffects" data-ajax="false">Armor-Breaking</a> strikes will reduce the armor to zero in the location struck unless the player struck is wearing more than three points of armor in that location. That can only happen if they are playing Warrior, Paladin, or Anti-Paladin.If the player struck has more than three points of armor in the location struck, then all hits to their armor remove a single point until they are at three points or less and then it behaves as stated earlier.</p>
				<p><a href="/states/#SpecialEffects" data-ajax="false">Armor-Destroying</a> strikes will reduce armor to zero in the location struck regardless of how much armor remains.</p>
				<p>Keeping track of your own armor is simple. If you are playing any class other than Warrior, Paladin, or Anti-Paladin then each hit removes a single point of armor unless it’s one of the above types of strikes, which reduces your armor to zero. If you are playing a Warrior, Paladin, or Anti-Paladin and wearing more than three points of armor then all Armor Breaking strikes do one point in the location struck until you get to three points, and then it behaves as above. An Armor-Destroying strike gets rid of all of the armor, period.</p>
				<p>Determining the approximate amount of armor worn by a player is easy to do at a glance:
				<ul>
				<li>Non-metal armors are always three points or less. Non-rigid metal armors are four points or less. Only rigid armors can reach more than four points.</li>
				</ul>
				<p>There are a few more magical effects and abilities that interact in different ways with
				armor, but this covers the vast majority of the situations encountered on the field
				of play. If you want more information read the Magic and Abilities sections. If you run into a situation you are not sure of you can always ask a reeve or the player who affected you.</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Armor Made Easy Page /page -->

<!-- Synthetic Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="SyntheticArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Synthetic Armor</h3>
    			<p>Material such as vinyl, naugahyde, ABS plastic, etc</p>
    			<b>Base Armor Points:</b> 1<br>
    			<b>Maxiumum Armor Points:</b> 2<br>
    			<b>Requirements:</b> Must be a minimum of 1/8” (0.125") thick. Must not be obviously synthetic in appearance<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
					<li class="Playtest"><b>Gambeson:</b> +1<br>
					The armor is worn over a Gambeson</li>
    				<li><b>Heavy Gauge:</b> +1<br>
    				Material is at least 1/4” (0.25") thick either as a single piece or through the permanent attachment of several layers</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Synthetic Armor /page -->

<!-- Cloth Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="ClothArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Cloth Armor</h3>
    			<p>This fabric armor offers minimal protection from penetration and impact</p>
    			<b>Base Armor Points:</b> 1<br>
    			<b>Maxiumum Armor Points:</b> 2<br>
    			<b>Requirements:</b> Must be a minimum of 1/16” (0.06") thick when fully compressed. Must not be easily mistaken as regular garb<br>
    			<b>Armor Specific Modifiers:</b> None<br>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Cloth Armor /page -->

<!-- Light Leather Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="LightLeatherArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Light Leather Armor</h3>
    			<p>This animal skin or fur armor offers minimal protection from penetration and impact</p>
    			<b>Base Armor Points:</b> 1<br>
    			<b>Maxiumum Armor Points:</b> 2<br>
    			<b>Requirements:</b> Must be a minimum of 1/16” (0.06") thick, or 2mm (0.08") thick leather alternative (PU leather, Pleather, Faux Fur). Must not be obviously synthetic in appearance<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
    				<li><b>Cuirboilli:</b> +1<br>
    				The leather has been made rigid through boiling, wax impregnation, lacquering, or a similar process</li>
    				<li><b>Gambeson:</b> +1<br>
    				The armor is worn over a Gambeson</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Light Leather Armor /page -->

<!-- Strong Leather Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="StrongLeatherArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Strong Leather Armor</h3>
    			<p>This thick leather armor provides some amount of protection from impact and penetration</p>
    			<b>Base Armor Points:</b> 2<br>
    			<b>Maxiumum Armor Points:</b> 3<br>
    			<b>Requirements:</b> Must be a minimum of 3/16” (0.19") thick<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
    				<li><b>Cuirboilli:</b> +1<br>
    				The leather has been made rigid through boiling, wax impregnation, lacquering, or a similar process</li>
    				<li><b>Gambeson:</b> +1<br>
    				The armor is worn over a Gambeson</li>
    				<li><b>Heavy Gauge:</b> +1<br>
    				The leather is at least 1/4” thick either as a single piece or through the permanent attachment of several layers</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Strong Leather Armor /page -->

<!-- Chainmail Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="ChainmailArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Chainmail Armor</h3>
    			<p>This flexible armor is comprised of a tight weave of interlocked metal rings that provides good protection against penetration and some protection from impact. The standard weave for chainmail is 4-in-1 European. Weaves containing less metal qualify as inferior construction</p>
    			<b>Base Armor Points:</b> 3<br>
    			<b>Maxiumum Armor Points:</b> 4<br>
    			<b>Requirements:</b> Any weave is permitted, but must not allow a 1/2” diameter dowel to pass through it. Minimum 1.58mm (0.06") (16 gauge) diameter round steel rings. Flat rings must be at least 1.22mm (0.05")(18 gauge) thick along their thinnest axis. Maximum ring inner diameter of 3/8” (0.38")<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
    				<li><b>Heavy Gauge:</b> +1<br>
    				The rings are at least 1.9mm (0.07") (14 gauge) in diameter. Flat rings must be at least 1.58mm (0.06") (16 gauge) thick along their thinnest axis</li>
    				<li><b>Gambeson:</b> +1<br>
    				The armor is worn over a Gambeson</li>
    				<li><b>Dense Weave:</b> +1<br>
    				Must not allow a 1/8” (0.125") diameter dowel to pass through it</li>
    				<li><b>Solid Rings:</b> +1<br>
    				All of the rings are permanently joined so that they may not separate. Examples are riveting, welding, or solid-cast rings</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Chainmail Armor /page -->

<!-- Butted Plate Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="ButtedPlateArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Butted Plate Armor</h3>
    			<p>Armor comprised of numerous steel plates that are attached to a backing, linked by cord or chain, or by some other method. This armor is flexible with numerous seams and joints between plates. This armor will deform locally when struck rather than spreading out impact over a large area. It provides fair protection against both penetration and impact</p>
    			<b>Base Armor Points:</b> 3<br>
    			<b>Maxiumum Armor Points:</b> 4<br>
    			<b>Requirements:</b> Plates must be at least 1.22mm (0.05")(18 gauge) steel. Plates must be spaced no more than 1/2” apart. Plates must cover at least 80% of the exposed area of the armor<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
    				<li><b>Heavy Gauge:</b> +1<br>
    				The plates are at least 1.58mm (0.06") (16 gauge)</li>
    				<li><b>Heavy Backing:</b> +1<br>
    				The plates are attached to a backing of Strong Leather</li>
    				<li><b>Gambeson:</b> +1<br>
    				The armor is worn over a Gambeson</li>
    				<li><b>Rigid:</b> +1<br>
    				The plates are attached to a rigid backing in such a way as to create armor which does not deform locally on impact</li>
    				<li><b>No Gaps:</b> +1<br>
    				The plates are attached in such a fashion as to provide a continuous layer without gaps between plates</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Butted Plate Armor /page -->

<!-- Scale Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="ScaleArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Scale Armor</h3>
    			<p>This armor is created by overlapping many metal plates which are attached along only one edge. Individual scales are not held into rigid contact with the others, thus providing less protection from penetration and impact than other overlapping metal armors. Scale offers fair penetration and impact resistance</p>
    			<b>Base Armor Points:</b> 3<br>
    			<b>Maxiumum Armor Points:</b> 4<br>
    			<b>Requirements:</b> Scales must be at least 1.22mm (0.05") (18 gauge) steel. Scales must overlap by at least 10%. The backing must not be visible through the scales<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
    				<li><b>Fluted:</b> +1<br>
    				Each plate has been fluted for additional strength and rigidity</li>
    				<li><b>Heavy Gauge:</b> +1<br>
    				Each plate is at least 1.58mm (0.06") (16 gauge)</li>
    				<li><b>Rigid:</b> +1<br>
    				Each scale is attached to neighboring scales in such a fashion as to create a rigid shell rather than individually mobile scales</li>
    				<li><b>Gambeson:</b> +1<br>
    				The armor is worn over a Gambeson</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Scale Armor /page -->

<!-- Lamellar Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="LamellarArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Lamellar Armor</h3>
    			<p>This armor is constructed from numerous plates connected to each other in an overlapping fashion by cord, chain link, or similar methods. Unlike scales the plates of this type of armor are firmly connected to each other in such a way that they resist penetration. Lamellar armor differs from other rigid metal armors in that it is not shaped to fit the body or articulated; mobility is instead provided by the small amount of flex and slack in the attachment between the individual plates. This armor provides good protection from both impact and penetration</p>
    			<b>Base Armor Points:</b> 4<br>
    			<b>Maxiumum Armor Points:</b> 5 (6 if both the Superior Overlap and Heavy Gauge modifiers are used)<br>
    			<b>Requirements:</b> Plates must be at least 1.22mm (0.05") (18 gauge) steel. Plates must overlap by at least 10%. No backing is used for support; plates must connect directly to each other<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
    				<li><b>Fluted:</b> +1<br>
    				Each plate has been fluted for additional strength and rigidity</li>
    				<li><b>Heavy Gauge:</b> +1<br>
    				Each plate is at least 1.58mm (0.06") (16 gauge)</li>
    				<li><b>Superior Overlap:</b> +1<br>
    				75% of plates overlap at least 25% of their surface area</li>
    				<li><b>Gambeson:</b> +1<br>
    				The armor is worn over a Gambeson</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Lamellar Armor /page -->

<!-- Brigandine Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="BrigandineArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Brigandine Armor</h3>
    			<p>This armor is constructed from numerous shaped and fitted overlapping metal plates solidly connected along a supporting shell of heavy cloth (such as canvas, denim, or velvet) in such a way that when worn all plates are held together firmly without any gaps between them and follow the general contours of the body. This armor provides good protection against both impact and penetration</p>
    			<b>Base Armor Points:</b> 4<br>
    			<b>Maxiumum Armor Points:</b> 5 (6 if both the Superior Overlap and Large Plates modifiers are used)<br>
    			<b>Requirements:</b> Plates must be at least 1.22mm (0.05") (18 gauge) steel. At least 75% of plates must overlap by at least 10% of their surface area. Plates need only be attached along one edge but must be held firmly against each other when the armor is worn. Plates must be shaped and fitted so as to follow the general contours of the wearer<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
    				<li><b>Heavy Gauge:</b> +1<br>
    				Each plate is at least 1.58mm (0.06") (16 gauge)</li>
    				<li><b>Superior Overlap:</b> +1<br>
    				75% of plates overlap at least 25% of their surface area</li>
    				<li><b>Gambeson:</b> +1<br>
    				The armor is worn over a Gambeson</li>
    				<li><b>Large Plates:</b> +1<br>
    				At least 50% of the surface area of the armor is protected by individual large plates rather than numerous smaller plates. Each large plate must be at least 10% of the total size of the hit location</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Brigandine Armor /page -->

<!-- Plate Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="PlateArmor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Plate Armor</h3>
    			<p>Plate armor is the pinnacle of medieval armor and offers excellent protection against both impact and penetration. Plate armor armor forms a solid metal shell over the protected areas that spreads impact over a large surface area to mitigate concussive force. The individual metal pieces of plate armor are shaped and fitted to articulate together and follow the contours of the body. Plate armor will not deform locally when struck, but will instead behave as a single contiguous whole</p>
    			<b>Base Armor Points:</b> 5<br>
    			<b>Maxiumum Armor Points:</b> 6<br>
    			<b>Requirements:</b> Metal used must be at least 1.22mm (0.05")(18 gauge) steel. At least 75% of the protected area must be covered by individual plates which cover at least 10% of the hit location; Plate is large individual contiguous pieces of metal connected together to form a whole, not a large number of smaller plates. Each plate must be firmly attached to all neighboring plates by strapping or metal-on-metal articulation in such a way as to form a rigid shell when worn. Armor may still be flexible where necessary for mobility<br>
    			<b>Armor Specific Modifiers:</b><br>
    			<ul>
    				<li><b>Fluted:</b> +1<br>
    				The armor has been fluted for additional strength and rigidity</li>
    				<li><b>Heavy Gauge:</b> +1<br>
    				Each plate is at least 1.58mm (0.06") (16 gauge)</li>
    				<li><b>Metal Articulations:</b> +1<br>
					At least 60% of articulations and connections between plates are metal-on-metal rather than metal-on-leather</li>
    				<li><b>Gambeson:</b> +1<br>
    				The armor is worn over a Gambeson</li>
    			</ul>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Plate Armor /page -->
