<% @loaded = 'false' %>
<div data-role="page" class="jqm-demos jqm-home" id="allclasses">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

         <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li data-role="list-divider">Melee</li>
               <li><a href="#Archer">Archer</a></li>
               <li><a href="#Assassin">Assassin</a></li>
               <li><a href="#Barbarian">Barbarian</a></li>
               <li><a href="#Monk">Monk</a></li>
               <li><a href="#Scout">Scout</a></li>
               <li><a href="#Warrior">Warrior</a></li>
               <li data-role="list-divider">Spell Caster</li>
               <li><a href="#Bard">Bard</a></li>
               <li><a href="#Druid">Druid</a></li>
               <li><a href="#Healer">Healer</a></li>
               <li><a href="#Wizard">Wizard</a></li>
               <li data-role="list-divider">Knights</li>
               <li><a href="#AntiPaladin">Anti-Paladin</a></li>
               <li><a href="#Paladin">Paladin</a></li>
            </ul>
         </div>
         <!-- /content -->

</div><!-- /page -->

<!-- Start of Assassin page -->
<div data-role="page" class="jqm-demos jqm-home" id="Assassin" data-url="Assassin">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Assassin - Melee</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Black sash<br>
<b>Look The Part:</b> <a href="/spells/p#poison" data-ajax="false">Poison</a> (self-only) 1/Life (ex)<br>
<b>Armor:</b> 2 Points<br>
<b>Shields:</b> None<br>
<b>Weapons:</b> Dagger, Short, Long, Light Throwing, Heavy Throwing, Bow<br>
</p>
        <h3>Abilities by Level</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Level</th>
             <th data-priority="1">Name</th>
             <th data-priority="2">Uses</abbr></th>
             <th data-priority="3">Cat</th>
             <th data-priority="4">Notes</th>
           </tr>
         </thead>
         <tbody>
           <tr>
              <th>1</th>
              <th><a href="/spells/s#shadowstep" data-ajax="false">Shadow Step</a></th>
              <td>2/Life</td>
              <td>(ex)</td>
              <td>Ambulant</td>
           </tr>
           <tr>
              <th>1</th>
              <th><a href="/spells/a#assassinate" data-ajax="false">Assassinate</a></th>
              <td>Unlimited</td>
              <td>(ex)</td>
              <td>Ambulant</td>
           </tr>
           <tr>
              <th>2</th>
              <th><a href="/spells/p#poison" data-ajax="false">Poison (self only)</a></th>
              <td>1/Life Chg x3</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>3</th>
              <th><a href="/spells/b#blink" data-ajax="false">Blink</a></th>
              <td>2/Life</td>
              <td>(ex)</td>
              <td>Ambulant</td>
           </tr>
           <tr>
              <th>4</th>
              <th><a href="/spells/h#holdperson" data-ajax="false">Hold Person</a></th>
              <td>1/Life</td>
              <td>(magical)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>5</th>
              <th><a href="/spells/t#teleport" data-ajax="false">Teleport (self only)</a></th>
              <td>2/Life</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>6</th>
              <th><a href="/spells/c#coupdegrace" data-ajax="false">Coup de Grace</a></th>
              <td>1/Life</td>
              <td>(magical)</td>
              <td>-</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
<!-- End of Assassin /page -->

<!-- Start of Paladin page -->
<div data-role="page" class="jqm-demos jqm-home" id="Paladin" data-url="Paladin">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Paladin - Knight</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> White belt and a white phoenix device openly displayed on armor or clothing<br>
<b>Look The Part:</b> <a href="/spells/a#awe" data-ajax="false">Awe</a> 1/Life (m)<br>
<b>Requirements:</b> Must be a Knight<br>
<b>Armor:</b> 4 Points<br>
<b>Shields:</b> Large<br>
<b>Weapons:</b> All Melee, Javelins<br>
</p>
        <h3>Abilities by Level</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Level</th>
             <th data-priority="1">Name</th>
             <th data-priority="2">Uses</abbr></th>
             <th data-priority="3">Cat</th>
             <th data-priority="4">Notes</th>
           </tr>
         </thead>
         <tbody>
           <tr>
              <th>1</th>
              <th>Immune to Command</th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
           <tr>
              <th>1</th>
              <th>Immune to Death</th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
           <tr>
              <th>2</th>
              <th><a href="/spells/h#heal" data-ajax="false">Heal</a></th>
              <td>1/Ref Chg x5</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>3</th>
              <th><a href="/spells/e#extendimmunities" data-ajax="false">Extend Immunities</a></th>
              <td>1/Ref Chg x5</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>4</th>
              <th><a href="/spells/r#resurrect" data-ajax="false">Resurrect</a></th>
              <td>2/Ref</td>
              <td>Magical</td>
              <td>-</td>
           </tr>
           <tr>
              <th>5</th>
              <th><a href="/spells/a#awe" data-ajax="false">Awe</a></th>
              <td>1/Life</td>
              <td>Magical</td>
              <td>-</td>
           </tr>
           <tr>
              <th>6</th>
              <th><a href="/spells/p#protectionfrommagic" data-ajax="false">Protection From Magic (self/touch)</a></th>
              <td>2/Refresh</td>
              <td>Magical</td>
              <td>-</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
<!-- End of Paladin /page -->

<!-- Start of Anti-Paladin page -->
<div data-role="page" class="jqm-demos jqm-home" id="AntiPaladin" data-url="AntiPaladin">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Anti-Paladin - Knight</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> White belt and an openly displayed black phoenix on clothing or armor<br>
<b>Look The Part:</b> <a href="/spells/a#awe" data-ajax="false">Awe</a> 1/Life (m)<br>
<b>Requirements:</b> Must be a Knight<br>
<b>Armor:</b> 4 Points<br>
<b>Shields:</b> Large<br>
<b>Weapons:</b> All Melee, Javelins<br>
</p>
        <h3>Abilities by Level</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Level</th>
             <th data-priority="1">Name</th>
             <th data-priority="2">Uses</abbr></th>
             <th data-priority="3">Cat</th>
             <th data-priority="4">Notes</th>
           </tr>
         </thead>
         <tbody>
           <tr>
              <th>1</th>
              <th>Immune to Command</th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
           <tr>
              <th>1</th>
              <th>Immune to Flame</th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
           <tr>
              <th>2</th>
              <th><a href="/spells/p#poison" data-ajax="false">Poison (self only)</a></th>
              <td>1/Ref Chg x3</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>3</th>
              <th><a href="/spells/s#steallifeessence" data-ajax="false">Steal Life Essence</a></th>
              <td>1/Life</td>
              <td>Magical</td>
              <td>-</td>
           </tr>
           <tr>
              <th>4</th>
              <th><a href="/spells/b#brutalstrike" data-ajax="false">Brutal Strike</a></th>
              <td>1/Life</td>
              <td>Magical</td>
              <td>Ambulant</td>
           </tr>
           <tr>
              <th>5</th>
              <th><a href="/spells/a#awe" data-ajax="false">Awe</a></th>
              <td>1/Life</td>
              <td>Magical</td>
              <td>-</td>
           </tr>
           <tr>
              <th>6</th>
              <th><a href="/spells/u#undeadminion" data-ajax="false">Undead Minion</a></th>
              <td>2/Refresh</td>
              <td>Magical</td>
              <td>-</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
<!-- End of Anti-Paladin /page -->

<!-- Start of Warrior page -->
<div data-role="page" class="jqm-demos jqm-home" id="Warrior" data-url="Warrior">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Warrior - Melee</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Purple Sash<br>
<b>Look The Part:</b> <a href="/spells/i#insult" data-ajax="false">Insult</a> 1/Life (m)(ambulant)<br>
<b>Armor:</b> 6 Points<br>
<b>Shields:</b> Large<br>
<b>Weapons:</b> All Melee, Javelins<br>
</p>
        <h3>Abilities by Level</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Level</th>
             <th data-priority="1">Name</th>
             <th data-priority="2">Uses</abbr></th>
             <th data-priority="3">Cat</th>
             <th data-priority="4">Notes</th>
           </tr>
         </thead>
         <tbody>
           <tr>
              <th>1</th>
              <th><a href="/spells/s#scavenge" data-ajax="false">Scavenge</a></th>
              <td>Unlimited</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>2</th>
              <th><a href="/spells/h#harden" data-ajax="false">Harden (self only)</a></th>
              <td>1/Life</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>3</th>
              <th><a href="/spells/t#truegrit" data-ajax="false">True Grit</a></th>
              <td>2/Ref</td>
              <td>-</td>
              <td>-</td>
           </tr>
           <tr>
              <th>4</th>
              <th><a href="/spells/i#insult" data-ajax="false">Insult</a></th>
              <td>1/Life</td>
              <td>Magical</td>
              <td>Ambulant</td>
           </tr>
           <tr>
              <th>5</th>
              <th><a href="/spells/s#shakeitoff" data-ajax="false">Shake it off</a></th>
              <td>1/Ref Chg x3</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>6</th>
              <th><a href="/spells/a#ancestralarmor" data-ajax="false">Ancestral Armor (self-only)</a></th>
              <td>3/Refresh</td>
              <td>(ex)</td>
              <td>Swift</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
<!-- End of Warrior /page -->

<!-- Start of Scout page -->
<div data-role="page" class="jqm-demos jqm-home" id="Scout" data-url="Scout">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Scout - Melee</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Green Sash<br>
<b>Look The Part:</b> <a href="/spells/h#heal" data-ajax="false">Heal</a> 1/Life (ex)<br>
<b>Armor:</b> 3 Points<br>
<b>Shields:</b> Small<br>
<b>Weapons:</b> Dagger, Short, Long, Heavy Thrown<br>
</p>
        <h3>Abilities by Level</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Level</th>
             <th data-priority="1">Name</th>
             <th data-priority="2">Uses</abbr></th>
             <th data-priority="3">Cat</th>
             <th data-priority="4">Notes</th>
           </tr>
         </thead>
         <tbody>
           <tr>
              <th>1</th>
              <th><a href="/spells/t#tracking" data-ajax="false">Tracking</a></th>
              <td>2/Life Chg x3</td>
              <td>(ex)</td>
              <td>Ambulant</td>
           </tr>
           <tr>
              <th>1</th>
              <th>May Use Bow so long as Shield not carried</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
           </tr>
           <tr>
              <th>2</th>
              <th><a href="/spells/h#heal" data-ajax="false">Heal</a></th>
              <td>1/Life</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>2</th>
              <th><a href="/spells/r#release" data-ajax="false">Release</a></th>
              <td>1/Life Chg x3</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>3</th>
              <th><a href="/spells/s#shadowstep" data-ajax="false">Shadow Step</a></th>
              <td>1/Life</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>3</th>
              <th><a href="/spells/d#dispelmagic" data-ajax="false">Dispel Magic</a></th>
              <td>1/Refresh</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>4</th>
              <th><a href="/spells/e#evolution" data-ajax="false">Evolution</a></th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
           <tr>
              <th>5</th>
              <th><a href="/spells/h#holdperson" data-ajax="false">Hold Person</a></th>
              <td>1/Life</td>
              <td>Magical</td>
              <td>-</td>
           </tr>
           <tr>
              <th>6</th>
              <th><a href="/spells/a#adaptiveblessing" data-ajax="false">Adaptive Blessing (self-only)</a></th>
              <td>1/Life</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
<!-- End of Scout /page -->

<!-- Start of Monk page -->
<div data-role="page" class="jqm-demos jqm-home" id="Monk" data-url="Monk">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Monk - Melee</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Grey Sash<br>
<b>Look The Part:</b> <a href="/spells/h#heal" data-ajax="false">Heal</a> (self-only) 1/Life (ex)<br>
<b>Armor:</b> None<br>
<b>Shields:</b> None<br>
<b>Weapons:</b> All Melee<br>
</p>
        <h3>Abilities by Level</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Level</th>
             <th data-priority="1">Name</th>
             <th data-priority="2">Uses</abbr></th>
             <th data-priority="3">Cat</th>
             <th data-priority="4">Notes</th>
           </tr>
         </thead>
         <tbody>
           <tr>
              <th>1</th>
              <th><a href="/spells/e#enlightenedsoul" data-ajax="false">Enlightened Soul</a></th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
           <tr>
              <th>1</th>
              <th><a href="/spells/m#missileblock" data-ajax="false">Missle Block</a></th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
           <tr>
              <th>1</th>
              <th>May use Heavy Thrown</th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
           <tr>
              <th>3</th>
              <th><a href="/spells/s#sanctuary" data-ajax="false">Sanctuary</a></th>
              <td>1/Life Chg x5</td>
              <td>(ex)</td>
              <td>Ambulant</td>
           </tr>
           <tr>
              <th>4</th>
              <th><a href="/spells/h#heal" data-ajax="false">Heal (self-only)</a></th>
              <td>1/Life Chg x3</td>
              <td>(ex)</td>
              <td>-</td>
           </tr>
           <tr>
              <th>5</th>
              <th><a href="/spells/r#resurrect" data-ajax="false">Resurrect</a></th>
              <td>1/Refresh Chg x10</td>
              <td>Magical</td>
              <td>-</td>
           </tr>
           <tr>
              <th>6</th>
              <th><a href="/spells/m#magicballblock" data-ajax="false">Magic Ball Block</a></th>
              <td>-</td>
              <td>Trait</td>
              <td>-</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
<!-- End of Monk /page -->

<!-- Start of Healer page -->
<div data-role="page" class="jqm-demos jqm-home" id="Healer" data-url="Healer">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Healer - Spell Caster</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Red sash<br>
<b>Look The Part:</b> 1 extra point of magic at the Healers highest level<br>
<b>Armor:</b> None<br>
<b>Shields:</b> None<br>
<b>Weapons:</b> Dagger<br>
<b>Magic-user:</b> Healers may purchase five points of magic from each level. Unused points from higher levels can be rolled down to lower levels. A list of all magic purchased must be carried at all times.<br>
</p>
        <h3>1st Level Spells</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/b#banish" data-ajax="false">Banish</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/b#blessingagainstwounds" data-ajax="false">Blessing Against Wounds</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/c#cancel" data-ajax="false">Cancel</a></th>
             <td>0</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentshieldsmall" data-ajax="false">Shield Small</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponshort" data-ajax="false">Weapon Short</a></th>
             <td>3</td>
             <td>2</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#experienced" data-ajax="false">Experienced</a></th>
             <td>2</td>
             <td>2</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/h#harden" data-ajax="false">Harden</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/h#heal" data-ajax="false">Heal</a></th>
             <td>1</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/r#release" data-ajax="false">Release</a></th>
             <td>1</td>
             <td>-</td>
             <td>2/Life Chg x3</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>

        <h3>2nd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#adaptiveblessing" data-ajax="false">Adaptive Blessing</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponhinged" data-ajax="false">Weapon Hinged</a></th>
             <td>3</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greaterrelease" data-ajax="false">Greater Release</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/h#holdperson" data-ajax="false">Hold Person</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life Chg x3</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/i#innate" data-ajax="false">Innate</a></th>
             <td>2</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/s#severspirit" data-ajax="false">Sever Spirit</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life Chg x3</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#shove" data-ajax="false">Shove</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#summondead" data-ajax="false">Summon Dead</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life Chg x3</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>50</td>
           </tr>
         </tbody>
       </table>

        <h3>3rd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl3" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#adaptiveprotection" data-ajax="false">Adaptive Protection</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/a#astralintervention" data-ajax="false">Astral Intervention</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Live Chg x3</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentshieldmedium" data-ajax="false">Shield Medium</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#extension" data-ajax="false">Extension</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greaterharden" data-ajax="false">Greater Harden</a></th>
             <td>2</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/i#iceball" data-ajax="false">Iceball</a></th>
             <td>1</td>
             <td>2</td>
             <td>2 Balls Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/m#mend" data-ajax="false">Mend</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/r#resurrect" data-ajax="false">Resurrect</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref Chg x5</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/u#undeadminion" data-ajax="false">Undead Minion</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>

        <h3>4th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl4" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/b#blessingagainstharm" data-ajax="false">Blessing Against Harm</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/c#circleofprotection" data-ajax="false">Circle of Protection</a></th>
             <td>1</td>
             <td>1</td>
             <td>1/Ref Chg x10</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greaterheal" data-ajax="false">Greater Heal</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/i#imbueshield" data-ajax="false">Imbue Shield</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/p#protectionfromprojectiles" data-ajax="false">Protection from Projectiles</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#swift" data-ajax="false">Swift</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/t#teleport" data-ajax="false">Teleport</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>

        <h3>5th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl5" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#abeyance" data-ajax="false">Abeyance</a></th>
             <td>1</td>
             <td>2</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/b#blessedaura" data-ajax="false">Blessed Aura</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/d#dispelmagic" data-ajax="false">Dispel Magic</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/e#enlightenedsoul" data-ajax="false">Enlightened Soul</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greaterresurrect" data-ajax="false">Greater Resurrect</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greaterundeadminion" data-ajax="false">Greater Undead Minion</a></th>
             <td>2</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#steallifeessence" data-ajax="false">Steal Life Essence</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>

        <h3>6th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl6" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#ancestralarmor" data-ajax="false">Ancestral Armor</a></th>
             <td>2</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/m#masshealing" data-ajax="false">Mass Healing</a></th>
             <td>1</td>
             <td>1</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Spirit</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/n#necromancer" data-ajax="false">Necromancer</a></th>
             <td>1</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#persistent" data-ajax="false">Persistent</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#phoenixtears" data-ajax="false">Phoenix Tears</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Spirit</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/p#preist" data-ajax="false">Priest</a></th>
             <td>1</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#protectionfrommagic" data-ajax="false">Protection from Magic</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#stun" data-ajax="false">Stun</a></th>
             <td>1</td>
             <td>4</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/w#warder" data-ajax="false">Warder</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
<!-- End of Healer /page -->

<!-- Start of Druid page -->
<div data-role="page" class="jqm-demos jqm-home" id="Druid" data-url="Druid">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Druid - Spell Caster</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Brown sash<br>
<b>Look The Part:</b> 1 extra point of magic at the Druids highest level<br>
<b>Armor:</b> None<br>
<b>Shields:</b> None<br>
<b>Weapons:</b> Dagger<br>
<b>Magic-user:</b> Druids may purchase five points of magic from each level. Unused points from higher levels can be rolled down to lower levels. A list of all magic purchased must be carried at all times.<br>
</p>
        <h3>1st Level Spells</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/b#barkskin" data-ajax="false">Barkskin</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/c#cancel" data-ajax="false">Cancel</a></th>
             <td>0</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/c#corrosivemist" data-ajax="false">Corrosive Mist</a></th>
             <td>1</td>
             <td>1</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Self/Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#entangle" data-ajax="false">Entangle</a></th>
             <td>1</td>
             <td>2</td>
             <td>2 Balls/Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponshort" data-ajax="false">Weapon Short</a></th>
             <td>2</td>
             <td>2</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#experienced" data-ajax="false">Experienced</a></th>
             <td>2</td>
             <td>2</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/h#heatweapon" data-ajax="false">Heat Weapon</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life Chg x3</td>
             <td>Verbal</td>
             <td>Flame</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/i#imbuearmor" data-ajax="false">Imbue Armor</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/m#mend" data-ajax="false">Mend</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>

        <h3>2nd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/e#equipmentshieldsmall" data-ajax="false">Shield Small</a></th>
             <td>4</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/g#giftofearth" data-ajax="false">Gift of Earth</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/h#heal" data-ajax="false">Heal</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/i#iceball" data-ajax="false">Iceball</a></th>
             <td>1</td>
             <td>2</td>
             <td>2 Balls/Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/i#innate" data-ajax="false">Innate</a></th>
             <td>1</td>
             <td>4</td>
             <td>1/Ref</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#poison" data-ajax="false">Poison</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/r#release" data-ajax="false">Release</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#stoneform" data-ajax="false">Stoneform</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref Chg x3</td>
             <td>Verbal</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>
        <h3>3rd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl3" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#attuned" data-ajax="false">Attuned</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/b#bearstrength" data-ajax="false">Bear Strength</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/d#dispelmagic" data-ajax="false">Dispel Magic</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/e#extension" data-ajax="false">Extension</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/g#giftoffire" data-ajax="false">Gift of Fire</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Flame</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greatermend" data-ajax="false">Greater Mend</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/i#icyblast" data-ajax="false">Icy Blast</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/r#regeneration" data-ajax="false">Regeneration</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Spirit</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#stoneskin" data-ajax="false">Stoneskin</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>
        <h3>4th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl4" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/e#equipmentweaponlong" data-ajax="false">Weapon Long</a></th>
             <td>4</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/f#flameblade" data-ajax="false">Flame Blade</a></th>
             <td>2</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Flame</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/f#forcebolt" data-ajax="false">Force Bolt</a></th>
             <td>1</td>
             <td>2</td>
             <td>2 Balls/Unlmt</td>
             <td>Ball</td>
             <td>Sorcery</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/g#giftofwater" data-ajax="false">Gift of Water</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/g#golem" data-ajax="false">Golem</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/l#lycanthropy" data-ajax="false">Lycanthropy</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#swift" data-ajax="false">Swift</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/t#teleport" data-ajax="false">Teleport</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>
        <h3>5th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl5" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#ambulant" data-ajax="false">Ambulant</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweapongreat" data-ajax="false">Weapon Great</a></th>
             <td>5</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#essencegraft" data-ajax="false">Essence Graft</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/g#giftofair" data-ajax="false">Gift of Air</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/h#heartoftheswarm" data-ajax="false">Heart of the Swarm</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Spirit</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/i#ironskin" data-ajax="false">Ironskin</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/p#poisonglands" data-ajax="false">Poison Glands</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/r#resurrect" data-ajax="false">Resurrect</a></th>
             <td>2</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/t#trollblood" data-ajax="false">Troll Blood</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>
        <h3>6th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl6" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#avatarofnature" data-ajax="false">Avatar of Nature</a></th>
             <td>1</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/c#calllightning" data-ajax="false">Call Lightning</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Flame</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/g#graspingtentacles" data-ajax="false">Grasping Tentacles</a></th>
             <td>1</td>
             <td>1</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Command</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/i#imbueweapon" data-ajax="false">Imbue Weapon</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/n#naturalizemagic" data-ajax="false">Naturalize Magic</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/r#ranger" data-ajax="false">Ranger</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/s#summoner" data-ajax="false">Summoner</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/w#wordofmending" data-ajax="false">Word of Mending</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
<!-- End of Druid /page -->

<!-- Start of Bard page -->
<div data-role="page" class="jqm-demos jqm-home" id="Bard" data-url="Bard">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Bard - Spell Caster</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Blue sash<br>
<b>Look The Part:</b> 1 extra point of magic at the Bards highest level<br>
<b>Armor:</b> None<br>
<b>Shields:</b> None<br>
<b>Weapons:</b> Dagger<br>
<b>Magic-user:</b> Bards may purchase five points of magic from each level. Unused points from higher levels can be rolled down to lower levels. A list of all magic purchased must be carried at all times.<br>
</p>
        <h3>1st Level Spells</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/c#cancel" data-ajax="false">Cancel</a></th>
             <td>0</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/c#confidence" data-ajax="false">Confidence</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref Chg x5</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponshort" data-ajax="false">Weapon Short</a></th>
             <td>2</td>
             <td>2</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#experienced" data-ajax="false">Experienced</a></th>
             <td>2</td>
             <td>2</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/i#insult" data-ajax="false">Insult</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/r#release" data-ajax="false">Release</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#shove" data-ajax="false">Shove</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#songofdetermination" data-ajax="false">Song of Determination</a></th>
             <td>1</td>
             <td>1</td>
             <td>Unlmt</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>

        <h3>2nd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/e#empower" data-ajax="false">Empower</a></th>
             <td>1</td>
             <td>-</td>
             <td>2/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentarmor1point" data-ajax="false">Armor 1 Point</a></th>
             <td>4</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greaterrelease" data-ajax="false">Greater Release</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/i#innate" data-ajax="false">Innate</a></th>
             <td>1</td>
             <td>4</td>
             <td>1/Ref</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/m#mend" data-ajax="false">Mend</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#songofbattle" data-ajax="false">Song of Battle</a></th>
             <td>1</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/s#songofvisit" data-ajax="false">Song of Visit</a></th>
             <td>1</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>

        <h3>3rd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl3" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#awe" data-ajax="false">Awe</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/b#battlefieldtriage" data-ajax="false">Battlefield Triage</a></th>
             <td>1</td>
             <td>1</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Spirit</td>
             <td>Self/Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/b#breakconcentration" data-ajax="false">Break Concentration</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Refresh</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/e#extension" data-ajax="false">Extension</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentshieldsmall" data-ajax="false">Shield Small</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/s#songoffreedom" data-ajax="false">Song of Freedom</a></th>
             <td>1</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>

        <h3>4th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl4" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#amplification" data-ajax="false">Amplification</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Refr</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponlong" data-ajax="false">Long Weapon</a></th>
             <td>3</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/r#restoration" data-ajax="false">Restoration</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#sleightofmind" data-ajax="false">Sleight of Mind</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#songofdeflection" data-ajax="false">Song of Deflection</a></th>
             <td>1</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/s#songofpower" data-ajax="false">Song of Power</a></th>
             <td>1</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/s#suppressaura" data-ajax="false">Suppress Aura</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>50</td>
           </tr>
           <tr>
             <th><a href="/spells/s#swift" data-ajax="false">Swift</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/t#terror" data-ajax="false">Terror</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
         </tbody>
       </table>

        <h3>5th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl5" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#agoraphobia" data-ajax="false">Agoraphobia</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/a#ambulant" data-ajax="false">Ambulant</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/d#discordia" data-ajax="false">Discordia</a></th>
             <td>1</td>
             <td>1</td>
             <td>1/Refresh</td>
             <td>Enchantment</td>
             <td>Command</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentshieldmedium" data-ajax="false">Shield Medium</a></th>
             <td>3</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/h#heartoftheswarm" data-ajax="false">Heart of the Swarm</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Refresh</td>
             <td>Enchantment</td>
             <td>Spirit</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/l#lost" data-ajax="false">Lost</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#songofsurvival" data-ajax="false">Song of Survival</a></th>
             <td>1</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>

        <h3>6st Level Spells</h3>
        <table data-role="table" id="table-custom-lvl6" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/c#combatcaster" data-ajax="false">Combat Caster</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/d#dervish" data-ajax="false">Dervish</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentarmor1point" data-ajax="false">Armor 1 Point</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/l#legend" data-ajax="false">Legend</a></th>
             <td>1</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/s#silvertongue" data-ajax="false">Silver Tongue</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Self/Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#songofinterference" data-ajax="false">Song of Interference</a></th>
             <td>1</td>
             <td>1</td>
             <td>1/Ref Chg x5</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/s#stun" data-ajax="false">Stun</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
      <!-- End of Bard /page -->

      <!-- Start of Wizard page -->
<div data-role="page" class="jqm-demos jqm-home" id="Wizard" data-url="Wizard">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Wizard - Spell Caster</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Yellow sash<br>
<b>Look The Part:</b> 1 extra point of magic at the Wizards highest level<br>
<b>Armor:</b> None<br>
<b>Shields:</b> None<br>
<b>Weapons:</b> Dagger<br>
<b>Magic-user:</b> Wizards may purchase five points of magic from each level. Unused points from higher levels can be rolled down to lower levels. A list of all magic purchased must be carried at all times.<br>
</p>
        <h3>1st Level Spells</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/b#banish" data-ajax="false">Banish</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/c#cancel" data-ajax="false">Cancel</a></th>
             <td>0</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponshort" data-ajax="false">Weapon Short</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#experienced" data-ajax="false">Experienced</a></th>
             <td>2</td>
             <td>2</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/f#forcebarrier" data-ajax="false">Force Barrier</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/f#forcebolt" data-ajax="false">Force Bolt</a></th>
             <td>1</td>
             <td>4</td>
             <td>3 Balls/Unlmt</td>
             <td>Ball</td>
             <td>Sorcery</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/h#heatweapon" data-ajax="false">Heat Weapon</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Flame</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/m#mend" data-ajax="false">Mend</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#shove" data-ajax="false">Shove</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life Chg x3</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
         </tbody>
       </table>

        <h3>2nd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#astralintervention" data-ajax="false">Astral Intervention</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/b#breakconcentration" data-ajax="false">Break Concentration</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/e#entangle" data-ajax="false">Entangle</a></th>
             <td>1</td>
             <td>3</td>
             <td>2 Balls Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/i#innate" data-ajax="false">Innate</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#planargrounding" data-ajax="false">Planar Grounding</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/r#release" data-ajax="false">Release</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#suppressionbolt" data-ajax="false">Suppression Bolt</a></th>
             <td>1</td>
             <td>3</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/t#teleport" data-ajax="false">Teleport</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>


        <h3>3rd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl3" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/d#dispellmagic" data-ajax="false">Dispel Magic</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref Chg x3</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/d#draggedbelow" data-ajax="false">Dragged Below</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/e#extension" data-ajax="false">Extension</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greatermend" data-ajax="false">Greater Mend</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/h#holdperson" data-ajax="false">Hold Person</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/i#iceball" data-ajax="false">Iceball</a></th>
             <td>1</td>
             <td>3</td>
             <td>2 Balls Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/l#lightningbolt" data-ajax="false">Lightning Bolt</a></th>
             <td>1</td>
             <td>4</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Flame</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/r#ravage" data-ajax="false">Ravage</a></th>
             <td>1</td>
             <td>-</td>
             <td>2/Life</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#shatterweapon" data-ajax="false">Shatter Weapon</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/t#throw" data-ajax="false">Throw</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
         </tbody>
       </table>

        <h3>4th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl4" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/d#destroyarmor" data-ajax="false">Destroy Armor</a></th>
             <td>1</td>
             <td>-</td>
             <td>2/Ref</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/d#dimensionalrift" data-ajax="false">Dimensional Rift</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/f#fireball" data-ajax="false">Fireball</a></th>
             <td>1</td>
             <td>4</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Flame</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/i#icyblast" data-ajax="false">Ice Blast</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#shatter" data-ajax="false">Shatter</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#suppressaura" data-ajax="false">Suppress Aura</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>50</td>
           </tr>
           <tr>
             <th><a href="/spells/s#swift" data-ajax="false">Swift</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/v#vampirism" data-ajax="false">Vampirism</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/w#wounding" data-ajax="false">Wounding</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref Chg x3</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>
        <h3>5th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl5" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#ambulant" data-ajax="false">Ambulant</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/c#contagion" data-ajax="false">Contagion</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponlong" data-ajax="false">Long Weapon</a></th>
             <td>4</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#phasebolt" data-ajax="false">Phase Bolt</a></th>
             <td>1</td>
             <td>4</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Sorcery</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/p#pyrotechnics" data-ajax="false">Pyrotechnics</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Flame</td>
             <td>50</td>
           </tr>
           <tr>
             <th><a href="/spells/s#steallifeessence" data-ajax="false">Steal Life Essence</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/v#voidtouched" data-ajax="false">Void Touched</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/w#wardself" data-ajax="false">Ward Self</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>
        <h3>6th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl6" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/b#battlemage" data-ajax="false">Battlemage</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#elementalbarrage" data-ajax="false">Elemental Barrage</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/e#evoker" data-ajax="false">Evoker</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/f#fingerofdeath" data-ajax="false">Finger of Death</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/p#persistent" data-ajax="false">Persistent</a></th>
             <td>2</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#protectionfrommagic" data-ajax="false">Protection from Magic</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#sphereofannihilation" data-ajax="false">Sphere of Annihilation</a></th>
             <td>2</td>
             <td>1</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Sorcery</td>
             <td>Ball</td>
           </tr>
            <tr>
             <th><a href="/spells/w#warlock" data-ajax="false">Warlock</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/w#wordofmending" data-ajax="false">Word of Mending</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
      <!-- /page -->

