<div data-role="page" class="jqm-demos jqm-home" id="allclasses">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

         <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li data-role="list-divider">Melee</li>
               <li><a href="#Archer">Archer</a></li>
               <li><a href="#">Assassin</a></li>
               <li><a href="#">Barbarian</a></li>
               <li><a href="#">Monk</a></li>
               <li><a href="#">Scout</a></li>
               <li><a href="#">Warrior</a></li>
               <li data-role="list-divider">Spell Caster</li>
               <li><a href="#">Bard</a></li>
               <li><a href="#">Druid</a></li>
               <li><a href="#">Healer</a></li>
               <li><a href="#Wizard">Wizard *</a></li>
               <li data-role="list-divider">Knights</li>
               <li><a href="#">Anti-Paladin</a></li>
               <li><a href="#">Paladin</a></li>
            </ul>
         </div>
         <!-- /content -->

</div><!-- /page -->

      <!-- Start of Wizard page -->
<div data-role="page" class="jqm-demos jqm-home" id="Wizard" data-url="Wizard">
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: 'true'} %>

<div role="main" class="ui-content">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Wizard - Spell Caster</h3>
   <div class="ui-body ui-body-a ui-corner-all">
<p>
<b>Garb:</b> Yellow sash<br>
<b>Look The Part:</b> 1 extra point of magic at the Wizards highest level<br>
<b>Armor:</b> None<br>
<b>Shields:</b> None<br>
<b>Weapons:</b> Dagger<br>
<b>Magic-user:</b> Wizards may purchase five points of magic from each level. Unused points from higher levels can be rolled down to lower levels. A list of all magic purchased must be carried at all times.<br>
</p>
        <h3>1st Level Spells</h3>
        <table data-role="table" id="table-custom-lvl1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/b#banish" data-ajax="false">Banish</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Spirit</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/c#cancel" data-ajax="false">Cancel</a></th>
             <td>0</td>
             <td>1</td>
             <td>Unlimited</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponshort" data-ajax="false">Weapon Short</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#experienced" data-ajax="false">Experienced</a></th>
             <td>2</td>
             <td>2</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/f#forcebarrier" data-ajax="false">Force Barrier</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/f#forcebolt" data-ajax="false">Force Bolt</a></th>
             <td>1</td>
             <td>4</td>
             <td>3 Balls/Unlmt</td>
             <td>Ball</td>
             <td>Sorcery</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/h#heatweapon" data-ajax="false">Heat Weapon</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Flame</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/m#mend" data-ajax="false">Mend</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#shove" data-ajax="false">Shove</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life Chg x3</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
         </tbody>
       </table>

        <h3>2nd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#astralintervention" data-ajax="false">Astral Intervention</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/b#breakconcentration" data-ajax="false">Break Concentration</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/e#entangle" data-ajax="false">Entangle</a></th>
             <td>1</td>
             <td>3</td>
             <td>2 Balls Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/i#innate" data-ajax="false">Innate</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#planargrounding" data-ajax="false">Planar Grounding</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/r#release" data-ajax="false">Release</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#suppressionbolt" data-ajax="false">Suppression Bolt</a></th>
             <td>1</td>
             <td>3</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/t#teleport" data-ajax="false">Teleport</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>


        <h3>3rd Level Spells</h3>
        <table data-role="table" id="table-custom-lvl3" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/d#dispellmagic" data-ajax="false">Dispel Magic</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref Chg x3</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/d#draggedbelow" data-ajax="false">Dragged Below</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/e#extension" data-ajax="false">Extension</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/g#greatermend" data-ajax="false">Greater Mend</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/h#holdperson" data-ajax="false">Hold Person</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/i#iceball" data-ajax="false">Iceball</a></th>
             <td>1</td>
             <td>3</td>
             <td>2 Balls Unlmt</td>
             <td>Ball</td>
             <td>Subdual</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/l#lightningbolt" data-ajax="false">Lightning Bolt</a></th>
             <td>1</td>
             <td>4</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Flame</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/r#ravage" data-ajax="false">Ravage</a></th>
             <td>1</td>
             <td>-</td>
             <td>2/Life</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#shatterweapon" data-ajax="false">Shatter Weapon</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/t#throw" data-ajax="false">Throw</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
         </tbody>
       </table>

        <h3>4th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl4" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/d#destroyarmor" data-ajax="false">Destroy Armor</a></th>
             <td>1</td>
             <td>-</td>
             <td>2/Ref</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/d#dimensionalrift" data-ajax="false">Dimensional Rift</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/f#fireball" data-ajax="false">Fireball</a></th>
             <td>1</td>
             <td>4</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Flame</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/i#icyblast" data-ajax="false">Ice Blast</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#shatter" data-ajax="false">Shatter</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/s#suppressaura" data-ajax="false">Suppress Aura</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Command</td>
             <td>50</td>
           </tr>
           <tr>
             <th><a href="/spells/s#swift" data-ajax="false">Swift</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/v#vampirism" data-ajax="false">Vampirism</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/w#wounding" data-ajax="false">Wounding</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref Chg x3</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>
        <h3>5th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl5" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/a#ambulant" data-ajax="false">Ambulant</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/c#contagion" data-ajax="false">Contagion</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/e#equipmentweaponlong" data-ajax="false">Long Weapon</a></th>
             <td>4</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#phasebolt" data-ajax="false">Phase Bolt</a></th>
             <td>1</td>
             <td>4</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Sorcery</td>
             <td>Ball</td>
           </tr>
           <tr>
             <th><a href="/spells/p#pyrotechnics" data-ajax="false">Pyrotechnics</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Flame</td>
             <td>50</td>
           </tr>
           <tr>
             <th><a href="/spells/s#steallifeessence" data-ajax="false">Steal Life Essence</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Life</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/v#voidtouched" data-ajax="false">Void Touched</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/w#wardself" data-ajax="false">Ward Self</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Self</td>
           </tr>
         </tbody>
       </table>
        <h3>6th Level Spells</h3>
        <table data-role="table" id="table-custom-lvl6" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="1">Name</th>
             <th data-priority="2">Cost</th>
             <th data-priority="3">Max</th>
             <th data-priority="4">Freq</abbr></th>
             <th data-priority="5">Type</th>
             <th data-priority="6">School</th>
             <th data-priority="7">Range</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th><a href="/spells/b#battlemage" data-ajax="false">Battlemage</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/e#elementalbarrage" data-ajax="false">Elemental Barrage</a></th>
             <td>1</td>
             <td>2</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Self</td>
           </tr>
           <tr>
             <th><a href="/spells/e#evoker" data-ajax="false">Evoker</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/f#fingerofdeath" data-ajax="false">Finger of Death</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Death</td>
             <td>20</td>
           </tr>
           <tr>
             <th><a href="/spells/p#persistent" data-ajax="false">Persistent</a></th>
             <td>2</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Meta-Magic</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/p#protectionfrommagic" data-ajax="false">Protection from Magic</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Enchantment</td>
             <td>Protection</td>
             <td>Touch</td>
           </tr>
           <tr>
             <th><a href="/spells/s#sphereofannihilation" data-ajax="false">Sphere of Annihilation</a></th>
             <td>2</td>
             <td>1</td>
             <td>1 Ball Unlmt</td>
             <td>Ball</td>
             <td>Sorcery</td>
             <td>Ball</td>
           </tr>
            <tr>
             <th><a href="/spells/w#warlock" data-ajax="false">Warlock</a></th>
             <td>2</td>
             <td>1</td>
             <td>-</td>
             <td>Neutral</td>
             <td>Neutral</td>
             <td>-</td>
           </tr>
           <tr>
             <th><a href="/spells/w#wordofmending" data-ajax="false">Word of Mending</a></th>
             <td>1</td>
             <td>-</td>
             <td>1/Ref</td>
             <td>Verbal</td>
             <td>Sorcery</td>
             <td>Touch</td>
           </tr>
         </tbody>
       </table>
     </div>
     </div>
     <!-- /ui-content -->
  </div>
      <!-- /page -->

