<% @loaded = 'false' %>
<div data-role="page" class="jqm-demos jqm-home" id="combat">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li><a href="#HitLocations">Hit Locations</a></li>
               <li><a href="#CombatContact">Combat Contact</a></li>
               <li><a href="#InflictingWounds">Inflicting Wounds</a></li>
               <li><a href="#Deaths">Deaths</a></li>
               <li><a href="#CombatNotes">Combat Notes</a></li>
               <li><a href="#CommonClarifications">Common Clarifications</a></li>
               <li><a href="#GeneralClarifications">General ESAM Clarifications</a></li>
            </ul>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

<!-- Hit Locations Page -->
<div data-role="page" class="jqm-demos jqm-home" id="HitLocations">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Hit Locations</h3>
    			<p>Players have five locations which may be Wounded: Left Arm, Right Arm, Left Leg, Right Leg, and Torso<br>
    			<b>Arm:</b> From just below the outside point of the shoulder to the tips of the fingers. A hand is not Wounded if struck below the wrist while holding a weapon or shield. Treat those strikes as though they had struck the weapon or shield held instead.<br>
				<b>Leg:</b> From just below the end of the buttocks in the back, the hip socket in the front, and an imaginary line between them on the sides down to and including the foot. A foot on the ground is not Wounded if struck below the ankle.<br>
				<b>Torso:</b> Everything that isn’t an arm or leg, including the groin, shoulders, and collar bones up to the vertical rise of the neck</p>
				<p><h3>Notes:</h3>
				<ol>
				<li>Players may not be struck in the neck or head. Will not count as a hit and is invalid</li>
				<li>Players may not block shots with their neck or head. Intentional head blocking can result in being called dead by a reeve</li>
				<li>A Wounded arm may not wield Active Equipment, carry anything, and must be kept out of combat</li>
				<li>A Wounded leg must have the knee in contact with the ground. The knee of the Wounded leg may be lifted from the ground briefly to enable movement so long as the unwounded leg has a knee on the ground. If the player cannot place their dead knee in contact with the ground, the foot of the Wounded leg must remain stationary, and may only be used to pivot. The player must immediately notify his/ her opponent(s) of this by stating <i>“posting”</i> in order avoid dropping to his/her knees</li>
				<li>A Wounded leg may not receive Wounds while the knee is on the ground or during the initial placement of the knee on the ground after receiving a Wound. If “posting”, the previously Wounded leg is capable of receiving an additional Wound</li>
				</ol></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Hit Locations /page -->

<!-- Combat Contact Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CombatContact">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Combat Contact</h3>
    			<p>A broad range of contact is allowed in combat. The rules below outline what is and is not acceptable. No action is acceptable if it is performed in an unsafe manner. The responsibility for the results of an action always rests squarely on the the actor. Unsafe behavior on the field can result in suspension from play at the discretion of the Champion, Monarch, or Guildmaster of Reeves.
    			</p>
    			<p><b>Allowed:</b> The following actions are acceptable<br>
    			<ol>
				<li>Weapon to Weapon contact is allowed</li>
				<li>Weapon to body contact is allowed on valid Hit Locations using Strike-Legal portions</li>
				<li>Body to Weapon contact: Weapons may be pushed, swept, and otherwise manipulated with your body so long as the Weapon is not trapped or grabbed. Pushing or sweeping a Strike-Legal surface results in a valid hit to the location used for contact.</li>
				<li>Weapon to Shield contact is allowed</li>
				<li>Shield to Weapon contact: Shields may be used to deflect, move or pin an opponents Weapon</li>
				<li>Shield to Shield contact: Shields may be used to deflect, turn, or pin an opponents Shield so long as the wielder of the struck Shield is not moved. Bashing a shield is prohibited</li>
				</ol></p>
    			<p><b>Disallowed:</b> The following actions are unacceptable. Some amount of incidental contact is expected in a contact sport but repeated or egregious offenses will result in suspension<br>
    			<ol>
    			<li>Body to body contact is prohibited</li>
				<li>Body to Shield contact is prohibited</li>
				<li>Active Shield to body contact is prohibited; passively using a Shield to prevent an opponent’s forward movement is acceptable and does not count as body to Shield contact on the part of the recipient</li>
				<li>Active Weapon to body contact using portions of a Weapon other than Strike-Legal is prohibited; passively planting the shaft of a Great Weapon to block an incoming opponent is acceptable</li>
				<li>Forcing a player’s Weapons against them with your body or Shield is prohibited</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Combat Contact /page -->

<!-- Inflicting Wounds Page -->
<div data-role="page" class="jqm-demos jqm-home" id="InflictingWounds">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Inflicting Wounds</h3>
    			<p>Wounds may be inflicted by contacting a Hit Location with the Strike-Legal portion of a Weapon. Shots from Melee Weapons fall into two broad categories:<br>
    			<b>Slash:</b> A valid slash must be percussive (contact with an audible pop) and stop on or deflect off the victim.<br>
				<b>Stab:</b> A valid stab should strike with the tip and stop on or deflect off the victim.</p>
				<p>These requirements do not apply to projectile weapons. Any contact from the Strike-Legal portion of a projectile weapon will cause a Wound unless otherwise noted.</p>
				<p>Some contacts which partially fulfill the above criteria are listed here as examples of invalid shots</p>
				<p>
				<b>Examples of Invalid Shots:</b><br>
				<b>Grazes:</b> Slashes that are neither percussive nor stop/deflect<br>
				<b>Draw Cuts:</b> Stabs which fail to strike with thetip. These contacts slide against a victim instead of impacting cleanly<br>
				<b>Pushes:</b> These contacts are pushed into or slid against a victim after the initial motion was completely blocked and the initial motion had stopped<br></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Inflicting Wounds /page -->

<!-- Deaths Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Deaths">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Deaths</h3>
    			<p>Any two Wounds, or a Wound to the Torso, results in a Death</p>
    			<p>
    			<ol>
    			<li>Unless otherwise noted a Dead player may not speak to living players or interact with game play in any manner</li>
    			<li>Unless otherwise noted in the battlegame description a Dead player may choose to return to his respawn point or remain where he died but may not otherwise move about</li>
				<li>Dead players may move to avoid mundane danger or interfering with living players<br>
				a. This does not count as moving for the purposes of Magic or Abilities so long as no game advantage was derived</li>
				<li>Dead players may retrieve their own equipment from the field while dead, but may not interfere with play in any way and must stay at least 10 ft from any living opposing players while doing so</li>
				<li>Dead players that move after dying may only return to play via respawn unless otherwise noted</li>
				<li>Unless otherwise noted Dead players may not be the target of Magic or Abilities</li></ol></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Deaths /page -->

<!-- Combat Notes Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CombatNotes">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Combat Notes</h3>
    			<p>Miscellaneous rules necessary for the smooth operation of combat</p>
    			<p>
    			<ol>
	    			<li>Shots that only strike garb or unwielded equipment do not count as a hit unless:</li>
	    			<ol>
	    				<li>Said items blocked a blow that would have struck a combatant (i.e. garb, equipment, sheathed
	weapons, etc. are not shields and do not count as armor)</li>
						<li>The shot is Engulfing. Engulfing effects do trigger on garb and equipment hits</li>
					</ol>
	    			<li>If a person is wounded in an arm throwing a shot, or killed, shots they threw into motion before being struck still count as a hit, if they land within a half second of being struck. In the case of a two-handed weapon, the wielder must remove his wounded hand from the weapon within a half second for the shot to count. This should be a clear case of finishing an already thrown shot, meaning that it requires no change of direction and the last action required to finish the shot has already been started prior to being struck. If you have any questions, ask your kingdom/group level Guildmaster of Reeves. A reeve‘s call is always final in determining if a shot is in time or late</li>
					<li>Unless otherwise noted in the battlegame description players may always choose to take a Death. Players who take a Death may not return to play except by respawning, may not activate any ‘on death’ Magic and Abilities such as Fight After Death, have all Enchantments removed (including Persistent ones), and do not benefit from any Magic or Abilities that prevent Death such as Undead Minion.</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Combat Notes /page -->

<!-- Common Clarifications Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CommonClarifications">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Common Clarifications</h3>
    			<p>These clarifications and misinterpretations made easy come from the Facebook group <i>Official Amtgard Rules Discussion</i></p>
    			<p>
    			<ol>
					<li>For verbals, it doesn’t matter if your target is in range/in line of sight/able to be affected by a verbal at any point but the end of the verbal.

					Your target could be on the dark side of the moon and immune to everything when you start the verbal, but if they are in range, in line of sight, and not immune when you finish the verbal, they are affected.</li>

					<li>If you moved after having died, you must have <a href="/spells/s#summondead" data-ajax="false">summon dead</a> cast on you FROM RESPAWN in order to return to play in any way other than respawning.  You can’t just run to the healer and have them summon dead you in the middle of the field.</li>

					<li><a href="/spells/a#ancestralarmor" data-ajax="false">Ancestral Armor</a> doesn’t block engulfing hits to your equipment.  It will block engulfing hits to your armor.   The reason is because, for example, an <a href="/spells/e#entangle" data-ajax="false">entangle ball</a> to the weapon doesn’t count as an entangle ball to the arm; it just effects you if it hits your equipment, and ancestral armor only stops hits to the armor.</li>

					<li><a href="/weapons/#Projectiles" data-ajax="false">Light thrown</a> is generally more powerful than heavy thrown, and purposefully so.  They both do the same amount of damage,  but light thrown has smaller design requirements and you can therefore carry more.  This is meant to be an advantage for <a href="/classes/#Assassin" data-ajax="false">Assassins</a>.</li>

					<li><a href="/spells/r#release" data-ajax="false">Release</a>/<a href="/spells/g#greaterrelease" data-ajax="false">Greater release</a> doesn’t just end states, it also ends ongoing effects.  <a href="/spells/f#fightaftereeath" data-ajax="false">Fight After Death</a>, <a href="/spells/e#elementalbarrage" data-ajax="false">Elemental Barrage</a>, <a href="/spells/a#awe" data-ajax="false">Awe</a>, <a href="/spells/h#heatweapon" data-ajax="false">Heat Weapon</a>, and <a href="/spells/t#terror" data-ajax="false">Terror</a> are all examples of effects that can be removed by Greater Release.</li>

					<li><a href="/spells/p#phasebolt" data-ajax="false">Phase Bolt</a>/<a href="/spells/p#phasearrow" data-ajax="false">Arrow</a> only ignores enchantments and ongoing effects.  It doesn’t ignore anything else.  For example, you can throw a phase bolt at a <a href="/classes/#Monk" data-ajax="false">Monk</a> in <a href="/spells/s#sanctuary" data-ajax="false">sanctuary</a> from 2 feet away and they are not immune to it because it ignores sanctuary.  It also ignores <a href="/spells/m#missileblock" data-ajax="false">Missile Block</a>.  It does nothing to a shield, and it doesn’t ignore regular armor.  It will ignore pure magic armor (like <a href="/spells/s#stoneskin" data-ajax="false">stoneskin</a>) and treat warrior <a href="/spells/a#ancestralarmor" data-ajax="false">Ancestral Armor</a> like regular <a href="/armor/" data-ajax="false">armor</a>.</li>

					<li>You have to say a person’s name when you cast verbal magic on them at range.  If you don’t know their name, you point at them with a free hand and use their class and unique description.  If you don’t do that, your spell is not properly cast.  It doesn’t matter if they absolutely know who you are casting on.  It doesn’t matter if everyone and God knows who you are casting on.  The spell is not properly cast.  It’s part of the incantation.</li>

					<li><a href="/spells/h#heatweapon" data-ajax="false">Heat weapon</a> targets weapons.  If you drop your weapon mid-incantation, it is still affected because the weapon, not the person is targeted.  This means that a weapon lying all by itself in a field can be affected by heat weapon.</li>

					<li><a href="/spells/p#pyrotechnics" data-ajax="false">Pyrotechnics</a> targets a person but affects their equipment.  The weapons themselves must be immune to flame in order to avoid Pyrotechnics.  <a href="/classes/#Monk" data-ajax="false">Monks</a> and <a href="/classes/#AntiPaladin" data-ajax="false">Anti-Palidins’s</a> are immune to verbals and flame respectively, but their equipment is not.  In general, what a spell TARGETS doesn’t matter when it comes to immunities; just what it AFFECTS.</li>

					<li><a href="/states/#SpecialEffects" data-ajax="false">Shield Crushing/Armor Breaking</a> don’t have to be announced on every swing.  When you first engage with someone, let them know your weapons are AB/SC, and you’ll be fine.  Same goes for any enchantment/special effect.</li>

					<li>The range on all magics state the maximum range.  This means that all ranged verbals can be used at a range of touch.  Because <a href="/spells/e#enlightenedsoul" data-ajax="false">Enlightened Soul</a> only makes someone <a href="/states/#Immune" data-ajax="false">immune</a> to ranged verbals, it will not protect against a ranged verbal used at a range of touch.  However, in order for the unwilling to be affected by a touch magic, they must be <a href="/states/#Frozen" data-ajax="false">frozen</a>, <a href="/states/#Stunned" data-ajax="false">stunned</a>, <a href="/combat/#Deaths" data-ajax="false">dead</a>, or unable to otherwise fight or move away. This, for example, means a frozen <a href="/classes/#Monk" data-ajax="false">Monk</a> is not immune to <a href="/spells/s#shatter" data-ajax="false">Shatter</a> used at a range of touch</li>

					<li>No one cares about the semantic difference between "affect" and "effect"</li>

					<li>You can wield a shield and a weapon in the same hand.  The restriction is that you can't wield two weapons in the same hand.  Shields aren't weapons.  Yes, this is intentional</li>

					<li>It's commonly known that enchantments can only be cast on yourself if they have a range of self; touch enchantments cannot be cast on yourself.<br>
					A common misinterpretation is that this applies to verbals too; AKA, some come to the conclusion that you cannot cast verbals on yourself unless they have a range of self.<br>
					This is not true.<br>
					You can cast <a href="/spells/touch" data-ajax="false">touch-range</a> verbals, such as Heal and Release, on yourself.<br>
					The "<i>can't use magic/ability with range of touch on yourself</i>" rule only applies to enchantments, not verbals.
					</li>

					<li>If you just thought of some obscure combination of abilities that are able to grant you a huge battlefield advantage that obviously wasn't intended, the answer is probably no.
					</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Common Clarifications /page -->

<!-- General ESAM Clarifications Page -->
<div data-role="page" class="jqm-demos jqm-home" id="GeneralClarifications">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>General ESAM Clarifications</h3>
    			<p>Simplified, not exact. Check links for exact rulings. Copied as required from the Facebook group <a href="https://www.facebook.com/groups/AmtgardRules/">Official Amtgard Rules Discussion</a>.
    			JP Prentiss (Medryn) has binding authority, Denny Dombkowski (Kaads) does as well but JP always takes priority. Consider what Denny clarifies as coming from JP (the rules rep organizer) unless he says otherwise. What JP says is as binding as the ROP unless countermanded by the circle of monarchs.<br><br>
    			Link to <a href="#CommonClarifications">Common Clarifications within Easygard</a><br>
 				Link to <a href="https://www.facebook.com/groups/176812649184466/permalink/429502940582101/">Common Clarifications on Facebook</a><br>
 				Link to <a href="http://www.electricsamurai.com/forums/viewtopic.php?f=57&t=28988&p=676579#p676579">Common Clarifications on ESAM</a><br>
 				Link to <a href="http://www.electricsamurai.com/forums/viewtopic.php?f=57&t=29494">General Clarifications (this doc) on ESAM</a>
    			</p>
    			<p>
    			<ol>
					<li><a href="/spells/s#steallifeessence" data-ajax="false">Steal Life Essence</a> does work on a dead <a href="/classes/#Paladin" data-ajax="false">Paladin</a>, they are unaffected and the caster benefits.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/402947296570999/">Facebook post</a><br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/474566902742371/">ESAM</a>
					</li>

					<li>You can target a <a href="/spells/f#fightaftereeath" data-ajax="false">Fight After Death</a> <a href="/classes/#Barbarian" data-ajax="false">Barbarian</a> with magic that can target the dead, nothing else. (FAD Modifies what a player can do while dead).<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/412781928920869/">Facebook Post 1</a><br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/302107049988358/">Facebook Post 2</a><br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/256764834522580/">Facebook Post 3</a>
					</li>

					<li>If a caster <a href="/s#shove" data-ajax="false">Shoves</a> themselves they can choose what direction to move in.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/406523936213335/">Facebook Post</a><br>
					</li>

					<li>Damage is to the hit location, casting new armor or donning new armor in its place will retain previous damage.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/380810112118051/">Facebook Post</a><br>
					</li>

					<li>You cannot <b>drop</b> throwies, projectiles, or etc in front of weapons or projectiles to stop them from hitting you. Take the wound.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/447342832131445/">Facebook Post</a><br>
					</li>

					<li>Phase ignores natural Immunities to Sorcery.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/449780791887649/">Facebook Post</a><br>
					</li>

					<li>If you are wearing regular <a href="/armor/" data-ajax="false">armor</a> at all, you cannot also wear an <a href="/enchantments/protection" data-ajax="false">enchantment</a> that gives any armor.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/427347217464340/">Facebook Post 1</a><br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/408737099325352/">Facebook Post 2</a><br>
					</li>

					<li>A player wearing armor rated at 6 points (without <a href="/spells/i#imbuearmor" data-ajax="false">Imbue Armor</a>), that has taken one point of damage while the player is wearing Imbue Armor will be at 5 points. Imbue Armor does not add more points to 6 points or armor. Casting Imbue Armor on armor rated at 6 while it has taken damage will not raise its armor points.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/446051112260617/">Facebook Post</a><br>
					</li>

					<li><a href="/spells/s#songofdeflection" data-ajax="false">Song of Deflection</a> does not stop Siege.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/469803566552038/">Facebook Post</a><br>
					</li>

					<li>You cannot have both <a href="/spells/h#heartoftheswarm" data-ajax="false">Heart of the Swarm</a> (or any <a href="/states/#Stopped" data-ajax="false">Stopped</a> enchantment) and <a href="/spells/s#songofvisit" data-ajax="false">Song of Visit</a> at the same time. Song of Visit fizzles because it requires movement and Stopped prevents that.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/423258617873200/">Facebook Post</a><br>
					</li>

					<li>When going back to base is attached to being Insubstantial and other movement types. Lost/Banish/GoA/Blink/Song of Visit/Teleport/Song of Survival. All explanations are in the link.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/403314816534247/">Facebook Post</a><br>
					</li>

					<li>Errata.  <a href="/spells/s#songofvisit" data-ajax="false">Song Of Visit</a> interacting with <a href="/spells/d#dispelmagic" data-ajax="false">Dispel</a>. Wording changed to "removed" You always become Insubstantial when SoV is removed or ends.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/420228844842844/">Facebook Post</a><br>
					</li>

					<li>You can friendly fire a Barbarian to activate his <a href="/spells/f#fightaftereeath" data-ajax="false">Fight After Death</a>.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/371137663085296/">Facebook Post</a><br>
					</li>

					<li>Wounding the player is an exception to when you can cast on the dead, you can Brutal Strike a dead player.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/423360067863055/">Facebook Post</a><br>
					</li>

					<li><a href="/spells/p#poison" data-ajax="false">Poison</a> under Assassin and AntiPaladin don't require the weapon in both hands (TYPO). Cast as normal.<br>
					<a href="https://www.facebook.com/groups/176812649184466/permalink/423360067863055/">Facebook Post</a><br>
					</li>

					<li>You cannot block with <a href="/weapons/#Projectiles" data-ajax="false">projectiles</a> ever. Don't drop them or throw them into other proectiles.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/447342832131445/">Facebook Post</a><br>
					</li>

					<li><a href="/weapons/#WeaponDefinitions" data-ajax="false">Padding</a> has to be continuous to meet requirements.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/468064370059291/">Facebook Post</a><br>
					</li>

					<li>Ongoing effects are removed when you are <a href="/spells/f#fightaftereeath" data-ajax="false">Fight After Death</a>.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/449381565260905/">Facebook Post 1</a><br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/408768279322234/">Facebook Post 2</a><br>
					</li>

					<li>Phase versus 3 points plus Imbue Armor, ignores Imbue Armor and subjects Armor Breaking to that armor.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/449158548616540/">Facebook Post</a><br>
					</li>

					<li><a href="/classes/#Monk" data-ajax="false">Monk</a> <a href="/spells/s#sanctuary" data-ajax="false">Sanctuary</a>, don't throw your weapons in combat or close to it.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/428150454050683/">Facebook Post</a><br>
					</li>

					<li>Respawning removes ongoing effects.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/408768279322234/">Facebook Post</a><br>
					</li>

					<li>Casting <a href="/states/#Insubstantial" data-ajax="false">Insubstantial</a> inducing verbals on yourself is considered voluntary (<a href="/spells/a#astralintervention" data-ajax="false">Astral Intervention</a>).<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/459847090881019/">Facebook Post</a><br>
					</li>

					<li>You can cast <a href="/spells/t#teleport" data-ajax="false">Teleport</a> and other movement abilities on players in <a href="/spells/c#circleofprotection" data-ajax="false">Circle of Protection</a>, strange things happen after.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/353366018195794">Facebook Post 1</a><br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/439914309540964">Facebook Post 2</a><br>
					</li>

					<li><a href="/spells/c#cancel" data-ajax="false">Cancel</a> should be able to remove an enchantment from a player with <a href="/spells/s#sleightofmind" data-ajax="false">Sleight of Mind</a> on.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/476838245848570/">Facebook Post</a><br>
					</li>

					<li>You can wear garb that looks like a sash instead of a sash.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/476301965902198/">Facebook Post</a><br>
					</li>


					<li><a href="/s#shove" data-ajax="false">Shoving</a> players in a <a href="/spells/c#circleofprotection" data-ajax="false">Circle of Protection</a> is weird. Also you can't run up and touch someone about to cast Circle of Protection to sneak into it.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/478496839016044/">Facebook Post</a><br>
					</li>

					<li>Foam can be part of real armor.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/479776208888107/">Facebook Post</a><br>
					</li>

					<li>You can physically block people from moving through an area by being in the way, but do it safely.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/479443152254746/">Facebook Post</a><br>
					</li>

					<li>Having two sources of the same chargeable magic allows both of those to be charged simultaneously. For example <a href="/spells/e#experienced" data-ajax="false">Experienced</a> <a href="/spells/h#heatweapon" data-ajax="false">Heat Weapon</a> making it 1/life charge x5. A Druid gives <a href="/spells/g#giftoffire" data-ajax="false">Gift of Fire</a> - giving them heat weapon 1/refresh charge x5. They're mechanically considered different abilities.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/478830828982645/">Facebook Post</a><br>
					</li>

					<li>You cannot cast <a href="/spells/touch" data-ajax="false">touch magic</a> on an unwilling player who is unarmed and <a href="/states/#Stopped" data-ajax="false">Stopped</a>, whether <a href="/states/#Suppressed" data-ajax="false">Suppressed</a> or not.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/481038975428497/">Facebook Post</a><br>
					</li>

					<li><a href="/weapons/#Ammunition" data-ajax="false">Arrows</a> have to have shafts.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/481539468711781/">Facebook Post</a><br>
					</li>

					<li>In order to be a <a href="/weapons/#Bow" data-ajax="false">Bow</a>, it must look like a bow and function like a bow. And your <a href="/weapons/#Ammunition" data-ajax="false">Arrows</a> need to look like arrows.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/481597408705987/">Facebook Post</a><br>
					</li>

					<li><a href="/spells/definitions#arrows" data-ajax="false">Specialty</a> <a href="/weapons/#Ammunition" data-ajax="false">Arrows</a> affect all things in flight with their effects.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/238558206343243/">Facebook Post 1</a><br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/427566957442366/">Facebook Post 2</a><br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/372669129598816/">Facebook Post 3</a><br>
					</li>

					<li><a href="/spells/d#dispelmagic" data-ajax="false">Dispel</a> ignores <a href="/spells/s#sanctuary" data-ajax="false">Sanctuary</a>. The spell targets the enchantments.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/482622978603430/">Facebook Post</a><br>
					</li>

					<li><a href="/spells/f#flameblade" data-ajax="false">Flameblade</a> and similar don't interact with Immunities.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/453376491528079/">Facebook Post</a><br>
					</li>

					<li><a href="/spells/definitions#arrows" data-ajax="false">Specialty Arrows</a> have Incantations and follow the Incantation rules.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/482379805294414/">Facebook Post</a><br>
					</li>

					<li><a href="/spells/definitions#arrows" data-ajax="false">Specialty Arrows</a> fired without an Incantation do nothing and aren't allowed.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/482649098600818/">Facebook Post</a><br>
					</li>

					<li>Requirements for un-wielded equipment to count towards blocking things.<br>
					<ol>
					<li>Unwielded equipment may be targeted and/or affected by any relevant effects.</li>
					<li>Unwielded equipment does not block shots if those shots would have struck wielded equipment or a player.</li>
					<li>The combination of 1 and 2 creates an exception to Magic Ball Rule 5; Magic Balls affect all unwielded equipment and then the first wielded equipment or player it would have hit.</li>
					</ol>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/437697433095985/">Facebook Post</a><br>
					</li>

					<li>Phase also ignores Special Effects. (Phase Blade)<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/345809078951488/">Facebook Post</a><br>
					</li>

					<li><a href="/spells/h#harden" data-ajax="false">Hardened</a> or <a href="/spells/i#imbueshield" data-ajax="false">Imbued Shields</a> don't take <a href="/states/#SpecialEffects" data-ajax="false">Shield Crushing</a> damage.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/482828171916244/">Facebook Post</a><br>
					</li>

					<li>Siege engines are considered weapons for the purposes of magic.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/483184755213919/">Facebook Post</a><br>
					</li>

					<li>Casters pay to wield weapons, they may carry as many as they like.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/483289331870128/">Facebook Post</a><br>
					</li>

					<li>A charged <a href="/spells/balls" data-ajax="false">Magic Ball</a> leaving your hand is considered thrown.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/486814261517635/">Facebook Post</a><br>
					</li>

					<li><a href="/spells/f#fightaftereeath" data-ajax="false">Fight After Death</a> is considered having moved for the purposes of being brought to life and relevant magic.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/356600914538971/">Facebook Post</a><br>
					</li>

					<li>You can charge magic while <a href="/states/#Suppressed" data-ajax="false">Suppressed</a>, it only prevents Magic or Abilities. No link, too old.
					</li>

					<li>You can remove the "go back to base" effect from <a href="/spells/l#lost" data-ajax="false">Lost</a> (and similar) with <a href="/spells/g#greaterrelease" data-ajax="false">Greater Release</a> and leave the player <a href="/states/#Insubstantial" data-ajax="false">Insubstantial</a>. They may go back to base, but are not required to except to remove the state per Lost (or similar).<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/488299341369127/">Facebook Post</a><br>
					</li>

					<li>Armor remains and still functions on dead limbs, arms still must be kept out of combat. Too old.</li>

					<li><a href="/spells/s#steallifeessence" data-ajax="false">Steal Life Essence</a> can be used on players who have moved.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/487268878138840/">Facebook Post</a><br>
					</li>

					<li>(ex) abilities are not considered Magic. <a href="/spells/e#enlightenedsoul" data-ajax="false">Enlightened Soul</a> and things that give <b>Immunity to Magic of x school</b> do not stop them.<br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/488253284707066/">Facebook Post 1</a><br>
					<a href="https://www.facebook.com/groups/AmtgardRules/permalink/486154934916901/">Facebook Post 2 (in comments)</a><br>
					</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- General Clarifications /page -->
