<% @loaded = 'false' %>
<div data-role="page" class="jqm-demos jqm-home" id="combat">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li><a href="#HitLocations">Hit Locations</a></li>
               <li><a href="#CombatContact">Combat Contact</a></li>
               <li><a href="#InflictingWounds">Inflicting Wounds</a></li>
               <li><a href="#Deaths">Deaths</a></li>
               <li><a href="#CombatNotes">Combat Notes</a></li>
               <li><a href="#CommonMisconceptions">Common Misconceptions</a></li>
            </ul>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

<!-- Hit Locations Page -->
<div data-role="page" class="jqm-demos jqm-home" id="HitLocations">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Hit Locations</h3>
    			<p>Players have five locations which may be Wounded: Left Arm, Right Arm, Left Leg, Right Leg, and Torso<br>
    			<b>Arm:</b>From just below the outside point of the shoulder to the tips of the fingers. A hand is not Wounded if struck below the wrist while holding a melee weapon or shield. Treat hits below the wrist to a hand holding a melee weapon or shield as though they had hit the weapon or shield held instead.<br>
				<b>Leg:</b> From just below the end of the buttocks in the back, the hip socket in the front, and an imaginary line between them on the sides down to and including the foot. A foot on the ground is not Wounded if struck below the ankle.<br>
				<b>Torso:</b> Everything that isn’t an arm or leg, including the groin, shoulders, and collar bones up to the vertical rise of the neck</p>
				<p><h3>Notes:</h3>
				<ol>
				<li>Players may not be struck in the neck or head. Will not count as a hit and is invalid</li>
				<li>Players may not block shots with their neck or head. Intentional head blocking can result in being called dead by a reeve</li>
				<li>A Wounded arm may not wield Equipment, cast magic, carry anything, and must be kept out of combat. A Wounded Arm is capable of receiving an additional Wound</li>
				<li>A Wounded leg must have the knee in contact with the ground. The knee of the Wounded leg may be lifted from the ground briefly to enable movement so long as the unwounded leg has a knee on the ground. If the player cannot place their dead knee in contact with the ground, the player must immediately notify his/her opponent(s) of this by stating “posting” in order to avoid dropping to his/her knees. While posting, the player may not voluntarily move the foot of the wounded leg, although it may be used to pivot. Posting continues until the player dies, has their leg wound healed, or is instructed otherwise by a Reeve.</li>
				<li>A Wounded Leg is capable of receiving an additional Wound (even if “posting”), except when the knee is on the ground or during the initial placement of the knee on the ground a er receiving a Wound</li>
				</ol></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Hit Locations /page -->

<!-- Combat Contact Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CombatContact">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Combat Contact</h3>
    			<p>A broad range of contact is allowed in combat. The rules below outline what is and is not acceptable. No action is acceptable if it is performed in an unsafe manner. The responsibility for the results of an action always rests squarely on the the actor. Unsafe behavior on the field can result in suspension from play at the discretion of the Champion, Monarch, or Guildmaster of Reeves.
    			</p>
    			<p><b>Allowed:</b> The following actions are acceptable<br>
    			<ol>
				<li>Weapon to Weapon contact is allowed</li>
				<li>Weapon to body contact is allowed on valid Hit Locations using Strike-Legal portions</li>
				<li>Body to Weapon contact: Weapons may be pushed, swept, and otherwise manipulated with your body so long as the Weapon is not trapped or grabbed. Pushing or sweeping a Strike-Legal surface results in a valid hit to the location used for contact</li>
				<li>Weapon to Shield contact is allowed</li>
				<li>Shield to Weapon contact: Shields may be used to deflect, move or pin an opponents Weapon</li>
				<li>Shield to Shield contact: Shields may be used to deflect, turn, or pin an opponents Shield so long as the wielder of the struck Shield is not moved. Bashing a shield is prohibited</li>
				</ol></p>
    			<p><b>Disallowed:</b> The following actions are unacceptable. Some amount of incidental contact is expected in a contact sport but repeated or egregious offenses will result in suspension<br>
    			<ol>
    			<li>Body to body contact is prohibited</li>
				<li>Body to Shield contact is prohibited</li>
				<li>Active Shield to body contact is prohibited; passively using a Shield to prevent an opponent’s forward movement is acceptable and does not count as body to Shield contact on the part of the recipient</li>
				<li>Active Weapon to body contact using portions of a Weapon other than Strike-Legal is prohibited; passively planting the shaft of a Great Weapon to block an incoming opponent is acceptable</li>
				<li>Forcing a player’s Weapons against them with your body or Shield is prohibited</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Combat Contact /page -->

<!-- Inflicting Wounds Page -->
<div data-role="page" class="jqm-demos jqm-home" id="InflictingWounds">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Inflicting Wounds</h3>
    			<p>Wounds may be inflicted by contacting a Hit Location with the Strike-Legal portion of a Weapon. Shots from Melee Weapons fall into two broad categories:<br>
    			<b>Slash:</b> A valid slash must be percussive (contact with an audible pop) and stop on or deflect off the victim.<br>
				<b>Stab:</b> A valid stab must strike with the tip and stop on or deflect off the victim.</p>
				<p>These requirements do not apply to projectile weapons. Any contact from the Strike-Legal portion of a projectile 	will cause a Wound unless otherwise noted.</p>
				<p>Some contacts which partially fulfill the above criteria are listed here as examples of invalid shots</p>
				<p>
				<b>Examples of Invalid Shots:</b><br>
				<b>Grazes:</b> Slashes that are neither percussive nor stop/deflect<br>
				<b>Draw Cuts:</b> Stabs which fail to strike with thetip. These contacts slide against a victim instead of impacting cleanly<br>
				<b>Pushes:</b> These contacts are pushed into or slid against a victim after the initial motion was completely blocked and the initial motion had stopped<br></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Inflicting Wounds /page -->

<!-- Deaths Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Deaths">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Deaths</h3>
    			<p>Any two Wounds, or a Wound to the Torso, results in a Death</p>
    			<p>
    			<ol>
    			<li>Unless otherwise noted a Dead player may not speak to living players or interact with game play in any manner</li>
    			<li>Unless otherwise noted in the battlegame description a Dead player may choose to return to his respawn point or remain where he died but may not otherwise move about</li>
				<li>Dead players may move to avoid mundane danger or interfering with living players<br>
				a. This does not count as moving for the purposes of Magic or Abilities so long as no game advantage was derived</li>
				<li>Dead players may retrieve their own equipment from the field while dead, but may not interfere with play in any way and must stay at least 10 ft from any living opposing players while doing so</li>
				<li>Dead players that move after dying may only return to play via respawn unless otherwise noted</li>
				<li>Unless otherwise noted Dead players may not be the target of Magic or Abilities</li></ol></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Deaths /page -->

<!-- Combat Notes Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CombatNotes">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Combat Notes</h3>
    			<p>Miscellaneous rules necessary for the smooth operation of combat</p>
    			<p>
    			<ol>
	    			<li>Shots that only strike garb, armor, or unwielded equipment do not count as a hit unless:</li>
	    			<ol>
	    				<li>Said items blocked a blow that would have struck a combatant (i.e. garb, equipment, sheathed
	weapons, etc. are not shields and do not count as armor)</li>
						<li>The shot is Engulfing. Engulfing effects do trigger on garb and equipment hits</li>
					</ol>
	    			<li>If a person is wounded in an arm throwing a shot, or killed, shots they threw into motion before being struck still count as a hit, if they land within a half second of being struck. In the case of a two-handed weapon, the wielder must remove his wounded hand from the weapon within a half second for the shot to count. This should be a clear case of finishing an already thrown shot, meaning that it requires no change of direction and the last action required to finish the shot has already been started prior to being struck. If you have any questions, ask your kingdom/group level Guildmaster of Reeves. A reeve‘s call is always final in determining if a shot is in time or late</li>
	    			<li>A player may hold more than one weapon in a single hand, but may not wield more than one weapon in a single hand at the same time. A player may fire multiple arrows simultaneously.</li>
					<li>Unless otherwise noted in the battlegame description players may always choose to take a Death. Players who take a Death may not return to play except by respawning, may not activate any ‘on death’ Magic and Abilities such as Fight After Death, have all Enchantments removed (including Persistent ones), and do not benefit from any Magic or Abilities that prevent Death such as Undead Minion.</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Combat Notes /page -->

<!-- Common Misconceptions Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CommonMisconceptions">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Common Misconceptions</h3>
    			<p>There are often additional misconceptions and clarifications made on the <i>Official Amtgard Rules Discussion</i> group in Facebook.</p>
    			<p>
    			<ol>
					<li>For Verbals, unless otherwise stated, it doesn’t matter if your target is in range/in line of sight/able to be affected by a Verbal at any point other than the end of the Incantation.</li>

					<li>If you moved after having died, you must have <a href="/spells/s#summondead" data-ajax="false">summon dead</a> cast on you from respawn in order to return to play in any way other than respawning.  You can’t just run to the Healer and have them Summon Dead you in the middle of the field.</li>

					<li><a href="/spells/a#ancestralarmor" data-ajax="false">Ancestral Armor</a> doesn’t block engulfing hits to your equipment.  It will block engulfing hits to your armor.   The reason is because, for example, an <a href="/spells/e#entangle" data-ajax="false">entangle ball</a> to the weapon doesn’t count as an entangle ball to the arm; it just effects you if it hits your equipment, and ancestral armor only stops hits to the armor.</li>

					<li><a href="/weapons/#Projectiles" data-ajax="false">Light thrown</a> is generally more powerful than heavy thrown, and purposefully so.  They both do the same amount of damage,  but light thrown has smaller design requirements and you can therefore carry more.  This is meant to be an advantage for <a href="/classes/#Assassin" data-ajax="false">Assassins</a>.</li>

					<li><a href="/spells/r#release" data-ajax="false">Release</a>/<a href="/spells/g#greaterrelease" data-ajax="false">Greater release</a> don't just end states, they also ends ongoing effects.  <a href="/spells/f#fightaftereeath" data-ajax="false">Fight After Death</a>, <a href="/spells/e#elementalbarrage" data-ajax="false">Elemental Barrage</a>, <a href="/spells/a#awe" data-ajax="false">Awe</a>, <a href="/spells/h#heatweapon" data-ajax="false">Heat Weapon</a>, and <a href="/spells/t#terror" data-ajax="false">Terror</a> are all examples of effects that can be removed by Greater Release.</li>

					<li><a href="/spells/p#phasebolt" data-ajax="false">Phase Bolt</a>/<a href="/spells/p#phasearrow" data-ajax="false">Arrow</a> only ignores enchantments and ongoing effects.  It doesn’t ignore anything else.  For example, you can throw a phase bolt at a <a href="/classes/#Monk" data-ajax="false">Monk</a> in <a href="/spells/s#sanctuary" data-ajax="false">sanctuary</a> from 2 feet away and they are not immune to it because it ignores sanctuary.  It also ignores <a href="/spells/m#missileblock" data-ajax="false">Missile Block</a>.  It does nothing to a shield, and it doesn’t ignore regular armor.  It will ignore pure magic armor (like <a href="/spells/s#stoneskin" data-ajax="false">stoneskin</a>) and treat warrior <a href="/spells/a#ancestralarmor" data-ajax="false">Ancestral Armor</a> like regular <a href="/armor/" data-ajax="false">armor</a>. It will not ignore the Insubstantial and Frozen effects; even if those effects are given by an Enchantment</li>

					<li>When casting a Verbal at 20’ range or greater the caster must begin the incantation with the target’s name. If the target’s name is not known, then the caster must do three things: Point at the target with a free hand; state the target’s class; and state a unique descriptor for the target. If the caster doesn’t either state a name or do all three things, the Verbal is not properly cast.</li>

					<li><a href="/spells/h#heatweapon" data-ajax="false">Heat weapon</a> targets weapons.  If the targeted weapon is dropped mid-incantation, it is still heated because the weapon, not the person, is targeted. This means that a weapon lying all by itself in a field can be affected by heat weapon.</li>

					<li><a href="/spells/p#pyrotechnics" data-ajax="false">Pyrotechnics</a> targets a person but affects their equipment.  The weapons themselves must be immune to flame in order to be protected from Pyrotechnics.  <a href="/classes/#Monk" data-ajax="false">Monks</a> and <a href="/classes/#AntiPaladin" data-ajax="false">Anti-Palidins’s</a> are immune to verbal magic and flame respectively, but their equipment is not.  In general, when it comes to immunities what a spell targets doesn’t matter; just what it affects.</li>

					<li><a href="/states/#SpecialEffects" data-ajax="false">Shield Crushing/Armor Breaking</a> don’t have to be announced on every swing.  When you first engage with someone, let them know the special effects of your weapons, and you’ll be fine. Same goes for any Enchantment/Special Effect.</li>

					<li>It’s commonly known that enchantments can only be cast on yourself if they have a range of Self; Touch: Others enchantments cannot be cast on yourself. A common misinterpretation is that this applies to Verbals too. This is not true. You can cast Touch range Verbals, such as Heal and Release, on yourself</li>

					<li>The range on all magics state the maximum range.  This means that all ranged verbals can be used at a range of touch.  Because <a href="/spells/e#enlightenedsoul" data-ajax="false">Enlightened Soul</a> only makes someone <a href="/states/#Immune" data-ajax="false">immune</a> to Verbal Magic used at a range greater than touch, it will not protect against a Verbal Magic used at a range of touch</li>

					<li>In order for an unwilling player to be affected by a Touch range Magic or Ability, they must be Frozen, Stunned, Dead, or unable to otherwise fight and move away. This, for example, means a Frozen Monk is not immune to Shatter used at a range of touch. A player who is just Stopped, but has no weapons, is still considered able to engage in combat, and so must be willing in order to be affected by touch range Magic or Abilities</li>
					<li>You can wield a shield and a weapon in the same hand. The restriction is that you can’t wield two weapons in the same hand. Shields aren’t weapons</li>
					<li>If you just thought of some obscure combination of abilities that are able to grant you a huge battlefield advantage that obviously wasn’t intended, the answer is probably no</li>
					<li>Declaring Enchantments/game effects or explaining what abilities do to new or inexperienced players should not interrupt existing incantations or ongoing chants. The point of declaring enchantments is to keep the game flowing smoothly for all involved. A player is not punished for pausing an incantation to aide in the flow of gameplay. If a Bard, for example, paused their Chant to explain to a new player what the Chant represents, he/she may resume the chant when they are finished. When in doubt, give leeway to players who go out of their way to teach the game to other players during a game</li>
					<li>Sniper made easy: Player may physically carry any number of Specialty Arrows of each type. Player may shoot one arrow of each specialty type per life; Then may charge x3 to shoot another arrow of that type. (Repeat for any number of further arrows of that type that life)</li>
					<li>Armor stops Wounds by losing points in the location it is hit. This damage is tracked on a location, as long as there is any armor on that location. Adding another piece of armor does not affect the damage, although it might affect the maximum armor points of that location. You must remove all armor from a location for the damage to stop being tracked</li>
					<li>Teleport - you must move <b>directly</b> to a fixed location (One that won’t move during transit, you can’t pick “10 feet behind that warrior”). If you cast Teleport on yourself you may end the teleport as per normal for Insubstantial but there’s no wandering around. Directly means directly, and reeves have final say as to what that means you can do in transit</li>
					<li>If a player under the effects of Circle of Protection is affected by Teleport, the duration of Insubstantial changes to the duration of Teleport, but the restriction that you cannot move lasts until COP ends</li>
					<li>For the purposes of having an empty hand for casting, opening the hand gripping a shield handle is all it takes to qualify. You do not have to completely remove your hand from touching the hand-hold in order to not grip a shield, as Gripping means to take a firm hold with your fingers</li>
					<li>Lorica segmentata is not Plate Armor. It is equivalent to Brigandine, base 4 points, max of 5. (Due to the design it cannot qualify for the higher max via Large Plates)</li>
					<li>Neither slingshots nor atlatls appear as a weapon type in the Rulebook. The only things you could argue they could be are:
						<ol type="a">
							<li>Heavy Thrown/Light Thrown</li>
							<li>An alternative to bow/arrows</li>
						</ol>
					They aren't legal because:
						<ol type="a">
							<li>Thrown weapons must be thrown</li>
							<li>A slingshot/atlatl isn’t a bow</li>
						</ol>
					</li>
					<li>Casting Persistent on an enchantment that provides a set number of uses only matters if you died with remaining uses left (through Phase Bolt/Arrow or some other method that bypassed Phoenix tears for instance)</li>
					<li>Half Draw is half the distance between the brace height and 28 inches. If your bow has a brace height of 8in. That bow’s Half Draw is 18 inches</li>
					<li>If you intentionally cause your own death, it has the same repercussions as taking a death</li>
					<li>Enchantments only check validity when they are first cast. For example: If someone has Attuned and two Persistent Enchantments and they die, Attuned is removed, but the two Persistent Enchantments stay</li>
					<li>Any armor worn under other armor can be treated as a Gambeson (on a per location basis). However, if that Gambeson extends past the area covered by the armor it is supporting, it can still only be treated as Cloth armor or Garb</li>
					<li>Cross Section refers to the width of a strike legal portion of a weapon (the distance from one edge to the other of the flat of a flat blade for instance). The thickness of the striking edge can be any amount that still results in a safe weapon</li>
					<li>The Amtgard rulebook uses the terms ban and suspension interchangeably, regardless of duration or other qualifiers, for purposes of the Code of Conduct.</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Common Misconceptions /page -->

