<% @loaded = 'false' %>
<%  enchantmentsSelf = @allSpells.reject {|k,v|
          if (v['t'].casecmp('Enchantment')) == 0 && (v['s'].include? "Flame")
               false
          else
               true
          end
               
     }%>

<div data-role="page" class="jqm-demos jqm-home" id="enchantments-flame">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

         <div role="main" class="ui-content">
            <ul data-role="listview" data-filter="true" data-autodividers="true" data-filter-placeholder="Search Enchantments (Flame)" data-inset="true" data-icon="false">

<% enchantmentsSelf.each {|key, value| %>

               <li><a href=<%="/spells/#{key[0]}##{key}"%> data-ajax="false"><%="#{value['name']}"%></a></li>
<% } %>
            </ul>
         </div>
         <!-- /content -->

</div><!-- /page -->

