<% @loaded = 'false' %>
<div data-role="page" class="jqm-demos jqm-home" id="enchantments">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li><a href="#enchantments-overview">Enchantments Overview</a></li>
               <li><a href="/enchantments/all" data-ajax="false">All Enchantments</a></li>
               <li data-role="list-divider">By Range</li>
               <li><a href="/enchantments/self" data-ajax="false">Range Self</a></li>
               <li><a href="/enchantments/touch" data-ajax="false">Range Touch</a></li>
               <li data-role="list-divider">By School</li>
               <li><a href="/enchantments/death" data-ajax="false">Death School</a></li>
               <li><a href="/enchantments/flame" data-ajax="false">Flame School</a></li>
               <li><a href="/enchantments/protection" data-ajax="false">Protection School</a></li>
               <li><a href="/enchantments/sorcery" data-ajax="false">Sorcery School</a></li>
               <li><a href="/enchantments/spirit" data-ajax="false">Spirit School</a></li>
               <li data-role="list-divider">By Color</li>
               <li><a href="/enchantments/red" data-ajax="false">Red Strips</a></li>
               <li><a href="/enchantments/white" data-ajax="false">White Strips</a></li>
               <li><a href="/enchantments/yellow" data-ajax="false">Yellow Strips</a></li>
            </ul>



    </div><!-- /content -->

</div><!-- /page -->

<!-- Enchantments  Page -->

<div data-role="page" class="jqm-demos jqm-home" id="enchantments-overview">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Enchantment Overview</h3>
                <p>Enchantments are ongoing abilities that remain until they are used up or removed</p>
                <ol>
                  <li>Players may only carry one Magical enchantment at a time. A player may not have more than one (ex) enchantment of the same name</li>
                  <li>Enchantments may only be cast on willing players</li>
                  <li>Enchantments are always worn by players. An Enchantment can always be cast onto a player, regardless of any Immunity or other Enchantment, except for restrictions that affect Enchantments specifically such as Essence Graft
                    <ol type="a">
                      <li>Effects imparted directly by an enchantment, such as Phoenix Tears returning a player to life or Gift of Air forcing a player to become insubstantial, will function regardless of Immunity</li>
                      <li>Abilities granted by Enchantments such as the uses of Heal granted by Regeneration or the uses of Raise Dead granted by Undead Minion are affected normally by Immunity</li>
                    </ol>
                  </li>
                  <li>If a player bearing an Enchantment is killed the Enchantment remains but becomes inactive. Respawning removes any Enchantments from a player unless the Enchantments are Persistent. If the person is returned to life, as opposed to respawning, then Enchantments are preserved and will function again, unless removed by the ability that returned the player to life
                    <ol type="a">
                    <li>If a player voluntarily takes a death, all Enchantments carried are removed</li>
                    </ol>
                  </li>
                  <li>Enchantments that have a definite number of uses, such as Blessing Against Harm or Snaring Vines, are removed when their last use is expended even if ineffective against their target. For example, discharging Poison against a target Immune to the Death School still expends that use of Poison</li>
                  <li>Uses of abilities granted by an Enchantment are tracked separately from a player's own abilities, and are recharged separately</li>
                  <li>States, Abilities, and Ongoing Effects imparted as an inherent part of Enchantments to their bearer cannot be removed in any way while the Enchantment is active and are removed when the Enchantment is removed unless otherwise noted, except for Cursed. This does not apply to States nor Ongoing Effects caused by the Enchantment or expiration timer. Example one: When a player bearing Heart of the Swarm dies, the Enchantment becomes inactive and the Stopped state imparted by the enchantment is removed, since all States other than Cursed are removed on death. If the player returns to life in a way that preserves their enchantments, the Stopped state will be reapplied when the enchantment becomes active again. Example two: When a player bearing Gift of Air becomes Insubstantial due to its effect and thereafter has the enchantment removed, the player will remain Insubstantial
                    <ol type="a">
                      <li>Cursed imparted by an Enchantment cannot be removed in any way while the Enchantment is worn, whether it is active or inactive. If the Enchantment is removed, Cursed is not removed. Example one: When a player bearing Vampirism dies, their enchantment becomes inactive but the Cursed State remains. If Vampirism is thereafter removed, the Player would remain Cursed</li>
                    </ol>
                  </li>
                  <li>Enchantments worn (or a summary of their effects) must be declared at the beginning of an engagement if possible. Enchantments worn must always be declared when requested. Persistent enchantments must be declared as such</li>
                  <li>Players may remove any worn enchantments from themselves by declaring that they are doing so at any time. This must be audible out to 20 feet</li>
                </ol>                  
    </div><!-- /footer -->

    </div><!-- /content -->

</div><!-- /page -->

<!-- Enchantments Locations Page -->
