<% @loaded = 'false' %>
<div data-role="page" class="jqm-demos jqm-home" id="magic-definitions">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li><a href="#abilities">Abilities</a></li>
               <li><a href="#archetypes">Archetypes</a></li>
               <li><a href="#chant">Chant</a></li>
               <li><a href="#charge">Charge and Incantation</a></li>
               <li><a href="/enchantments/#enchantments-overview" data-ajax="false">Enchantments</a></li>
               <li><a href="#engulfing">Engulfing</a></li>
               <li><a href="#forcedmovement">Forced Movement</a></li>
               <li><a href="#incantation">Incantation</a></li>
               <li><a href="#killtrigger">Kill Trigger</a></li>
               <li><a href="#armor">Magic Armor</a></li>
               <li><a href="#magicballs">Magic Balls</a></li>
               <li><a href="#metamagic">Meta-Magic</a></li>
               <li><a href="#range">Range</a></li>
               <li><a href="#resistant">Resistant</a></li>
               <li><a href="#school">School</a></li>
               <li><a href="#arrows">Specialty Arrows</a></li>
               <li><a href="#traits">Traits</a></li>
               <li><a href="#verbal">Verbal</a></li>
               <li><a href="#woundtrigger">Wound Trigger</a></li>
            </ul>

    </div><!-- /footer -->

    </div><!-- /content -->

</div><!-- /page -->

<!-- Abilities Page -->
<div data-role="page" class="jqm-demos jqm-home" id="abilities">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Abilities</h3>
                <p>Powers or skills that must be activated to be used.</p>
                <ol>
                    <li>Ability Enchantments denoted as Magical (m) in the class description count towards the bearers limit for carried <a href="/enchantments/" data-ajax="false">Enchantments</a>. May be removed by Magic that removes Enchantments, such as Dispel</li>
                    <li>Ability Enchantments denoted as Extraordinary (ex) in the class description do not count towards enchantment limits or count for the purposes of Attuned, Essence Graft, or similar magic and abilities. May be removed by Magic that removes Enchantments, such as Dispel. A player may not have more than one (ex) enchantment of the same name</li>
                    <li>Unless otherwise specified, Ability enhanced equipment cannot be used except by the player who enhanced the equipment. For instance: an Archer cannot loan his Poison Arrow to another player, even another Archer.</li>
                    <li>Ability Incantations follow all the rules of magical Incantations unless otherwise noted. Incantations for Abilities listed as Extraordinary (ex) do not require a free hand.</li>
                    <li>Abilities granted via an Enchantment retain the original School of the Ability, not the School of the Enchantment</li>
                    <li>Ongoing Effects are effects applied by Abilities where the effect lasts for some specified duration (Examples: Rage, Heat Weapon, and Shake it Off) or for an indefinite duration (Examples: Elemental Barrage and Shove)</li>
                </ol>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Abilities /page -->

<!-- Archetypes Page -->
<div data-role="page" class="jqm-demos jqm-home" id="archetypes">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Archetypes</h3>
                <p>Class abilities which modify base rules about their class. Archetypes are denoted with an (A) and are always active throughout the game. Archetypes may not be removed by any means and persist after respawn. Archetypes are not enchantments, and do not count towards enchantment limits or count for the purposes of Attuned, Essence Graft, or similar magic and abilities. You do not have to have an archetype, even if one is available to you.</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Archetypes /page -->

<!-- Chant Page -->
<div data-role="page" class="jqm-demos jqm-home" id="chant">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Chant</h3>
                <p>An audible component required by some magics and abilities that sustains their continuing function.  Under normal circumstances a player may voluntarily end an ability with an ongoing chant at any time. The audible components of a Chant must be spaced no further than five seconds apart and audible to 50’. Unless otherwise noted failure to Chant ends the effect. May be spoken while moving. Only one Chant can be maintained at a time.</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>


    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Chant /page -->

<!-- Charge Page -->
<div data-role="page" class="jqm-demos jqm-home" id="charge">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Charge</h3>
                <p>Some abilities may have their per-life or per-refresh uses restored after they are consumed. These abilities are denoted with the word “Charge” and a number after them. In order to gain an additional per-life or per-refresh use of a Chargeable ability the Charge Incantation must be repeated in full the number of times indicated by number after Charge. For instance an ability labeled ‘Charge x3' requires three full repetitions of the Charge Incantation in order to regain a use.</p>
                <p>Unless otherwise noted:</p>
                <ol>
                    <li>Any Incantation to cast a Charged ability is separate from the Charge Incantation</li>
                    <li>Charges for per-refresh abilities carry between lives; a per-refresh Ability Charged on a previous life and not used can be used on the next life.</li>
                    <li>The ability being Charged must be designated at the beginning of the Charge</li>
                    <li>Only abilities which may be Charged can benefit from Innate, Steal Life Essence, etc.</li>
                </ol>
                <h3>Charge Incantation</h3>
                <p>The Incantation (see Incantation for general rules about Incantations) that is used to Charge an ability. A single ‘Charge Incantation’ is repeating the following phrase:</p>
                <p><i>“Out of battle I pause to rest,<br>
                I take some time to catch my breath.<br>
                Return to me my fleeting power<br>
                To aid me in my darkest hour.”</i></p>
                <p>The Charge Incantation requires an empty hand and must be audible out to 20 feet</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Charge /page -->

<!-- Engulfing Page -->
<div data-role="page" class="jqm-demos jqm-home" id="engulfing">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Engulfing</h3>
                <p>Engulfing effects affect the victim even if they hit only garb, worn equipment, or wielded equipment. Other effects only function on items or players they physically touch</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Engulfing /page -->
<!-- Forced Movement Page -->
<div data-role="page" class="jqm-demos jqm-home" id="forcedmovement">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Forced Movement</h3>
                <p>Forced Movement effects require a player to move, or place limitations on where they may move</p>
                <ol>
                    <li>Forced Movement effects fail when cast upon a Stopped player
                        <ol type="a">
                            <li>A player affected by a Forced Movement effect who becomes Stopped is affected normally. For example: a player affected by Awe may not move away from the caster, but still may not attack the caster</li>
                        </ol>
                    </li>
                    <li>Players with a wounded leg who are affected by Forced Movement abilities may choose to ignore the requirement for dead legs to have the knee on the ground (or, if "posting," to not voluntarily move the foot of the wounded leg) for the purposes of completing the movement. While moving in this manner, the wounded player may not attack or cast abilities, but may defend themselves. Once the player has completed the movement, they must once again place their knee in contact with the ground, or re-declare "posting". This is known as the "Forced Movement accommodation."</li>
                </ol>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Forced Movement /page -->

<!-- Incantation Page -->
<div data-role="page" class="jqm-demos jqm-home" id="incantation">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Incantation</h3>
                <p>The verbal component required by some magics and abilities that initiates their function.<br>
                Magic and Abilities used at a Range greater than Touch require that the target be indicated by name. Example: <i>“Timmy, I command thee to stop, I command thee to stop, I command thee to stop.”</i> If the name of the target is not known, or if the casting player prefers, they may instead point at the target with a free hand and say two descriptors for the target, such as their class and the color of their tunic. Example: &lt;Point with a free hand &gt; <i>“Warrior in blue, I command thee to stop, I command thee to stop, I command thee to stop.”</i> When targeting a piece of equipment the caster must explicitly define the equipment in addition to the player most recently using it. Example: <i>“Timmy, blue sword on hip, I call upon flame to heat that sword, I call upon flame to heat that sword, I call upon  flame to heat that sword.”</i></p>
                <p>All Incantations:</p>
                <ol>
                    <li>Must be said loudly and clearly enough to be heard within 50’ or by the recipient, whichever is closer. Incantations which target self must be audible to within 20’. In the event of a disagreement over audible range, consult a reeve</li>
                    <li>A player may not move their feet when incanting. If a player moves their feet the incant is interrupted</li>
                    <li>Improper wording, mispronunciation, a gap of more than two seconds between words, or omitting words will all result in an interrupted Incantation</li>
                    <li>An interrupted incantation does not result in a magic or ability being consumed. Interrupted Incantations must be restarted from the beginning</li>
                    <li>Require the caster to have an empty hand with the exception of holding Material Components or the target of a Touch Range or Other Rangemagic. Any hand that is touching a shield or weapon is not considered an empty hand, with the exception of hands incidentally touching Small shields that are strapped securely to the arm.</li>
                    <li>Starting an Incantation renders the player’s active Magic Balls inactive and interrupts any other Incantation or Chant the player has in progress</li>
                    <li>The target of a Magic or Ability must be at least partially visible at the completion of an Incantation. The target being out of sight at any other point does not prevent or interrupt the casting attempt. If a piece of equipment is the target, the physical equipment itself is what needs to be at least partially visible. If the incantation is completed and the target is not at least partially visible, the Magic or Ability has no effect but is still expended</li>
                </ol>
                <p>Completing an Incantation results in an Ability or Magic being used up, regardless of if the target was valid or affected</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Incantation /page -->

<!-- Kill Trigger Page -->
<div data-role="page" class="jqm-demos jqm-home" id="killtrigger">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Kill Trigger</h3>
                <p>Some magics and abilities have special circumstances that must be met before they can be activated. Magics and abilities with the Kill Trigger Limitation can only be used within 30 seconds after the caster strikes the final blow to kill an enemy or causes the activation of any effects which allow the player struck to avoid death (Undead Minion, Greater Undead Minion, Troll Blood, Phoenix Tears, and Song of Survival). The caster must be outside of 10’ of a living enemy, and may only use a given Kill Trigger ability once per eligible killing blow</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Kill Trigger /page -->

<!-- Armor Page -->
<div data-role="page" class="jqm-demos jqm-home" id="armor">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Magic Armor</h3>
                <p>Magic Armor is provided by some Enchantments. The specific enchantment will denote a number of points of Magic Armor that are granted to each hit location.</p>
                <ol>
                    <li>Enchantments which grant Magic armor fail when targeting a player with worn armor. Players may not don worn armor while bearing an enchantment which grants magic armor. If Magic Armor is granted from two different sources only the highest value present is used and all others are ignored. Example: A player is wearing both <a href="/spells/g#giftofearth" data-ajax="false">Gift of Earth</a> (2 points of Magic Armor) and <a href="/spells/b#barkskin" data-ajax="false">Barkskin</a> (1 point of Magic Armor). Since Gift of Earth is the highest value the Magic Armor from Barkskin is ignored. If Gift of Earth is removed the player will have a new Magic Armor maximum of 1 point. All locations greater than 1 point will be lowered to 1 point while all locations at 1 point or lower will remain unchanged</li>
                    <li>Magic Armor may be the target of magic or effects that affect armor such as Armor Breaking, Fireball, etc</li>
                    <li>Magic Armor may be repaired like any other armor</li>
                    <li>Magic Armor covers all locations on a player without any gaps in coverage</li>
                    <li>Unless otherwise noted in the description of the Enchantment, Magic Armor can never benefit from armor enhancement abilities or magics such as Ancestral Armor or Imbue Armor. Example: Stoneskin is naturally considered Ancestral Armor, but Barkskin can not benefit from Ancestral Armor in any way</li>
                    <li>Players may wear more Magic Armor than their class maximum allows. A class which cannot wear any armor can still wear Magic Armor</li>
                    <li>Unless otherwise noted Magic Armor behaves identically to <a href="/armor/" data-ajax="false">normal armor</a></li>
                    <li>The presence of Magic Armor must be announced to any opponents at the beginning of an engagement if possible; Magic Armor should not result in a <i>surprise survival</i></li>
                </ol>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Armor /page -->

<!-- Magic Balls Page -->
<div data-role="page" class="jqm-demos jqm-home" id="magicballs">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Magic Balls</h3>
                <p>Magic Balls which are thrown and strike a player or object can have various effects (see list of <a href="/spells/balls" data-ajax="false">Magic Balls</a>)</p>
                <p>Unless otherwise noted:</p>
                <ol>
                    <li>Players may only bring a number of Magic Balls on to the battlefield equal to the maximum uses allowed to them. Likewise, players may also only carry up to that amount at any given time
                        <ol type="a">
                            <li>Owners of Magic Balls may grant other players permission to carry their Magic Balls in order to return them to the owner or to the owner’s base. They may also grant other players permission to use their Magic Balls if the other person has the ability to do so</li>
                        </ol>
                    </li>
                    <li>A Magic Ball must be held in the caster's hand by the end of the Incantation</li>
                    <li>Once a Magic Ball’s Incantation has been said, it is considered active until it hits a Player, Wielded Equipment, or Terrain. It will also become inactive if the caster begins an incantation or the material component stops being held in hand and has not been thrown. The caster can transfer an active Magic Ball from one hand to the other without it becoming inactive and can wield a weapon or shield in a hand that is also holding an active Magic Ball</li>
                    <li>A player may only have one Magic Ball active at a time</li>
                    <li>Magic Balls of the Subdual School have no effect on equipment that is not being carried. Example: You may not Iceball a players shield if it is not being wielded or carried by them</li>
                    <li>Magic Balls discharge and attempt to affect the first Player, Wielded Equipment, or Terrain they hit; Magic Balls are not engulfing unless noted</li>
                    <li>Barring any Enchantments or magical effects, garb strikes count as hitting the player if the Magic Ball would have continued on to hit the player. Example: You may not block Lightning Bolts with your cloak</li>
                    <li>Magic Balls do not damage armor unless otherwise noted</li>
                    <li>Magic Balls are not stopped by Protection from Projectiles, Song of Deflection, and other similar magic and abilities.</li>
                </ol>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Magic Balls /page -->

<!-- Meta-magic Page -->
<div data-role="page" class="jqm-demos jqm-home" id="metamagic">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Meta-Magic</h3>
                <p>A type of magic which alters the typical behavior of other magics</p>
                <p>Unless otherwise noted:</p>
                <ol>
                    <li>Unless otherwise noted, Meta-Magic follows all the standard rules for Incantations</li>
                    <li>Meta-magic must be stated immediately after indicating the target and prior to beginning the incantation for the modified magic</li>
                    <li>Abilities that are labeled with a meta-magic in the class description are affected as per that metamagic, but do not require the player to state the Incantation for that meta-magic</li>
                    <li>Meta-Magics do not affect other Meta-Magics, but may be combined in any number so long as all restrictions are observed. Example: A player may cast a spell using Extension and Ambulant, however Extension must be stated without moving the feet as it is unaffected by Ambulant</li>
                    <li>Meta-Magics are considered expended as soon as their incantation is finished regardless of whether or not the altered magic was completed</li>
                    <li>May not be used to modify the behavior of Magic Items or magics and abilities granted by Enchantments such as Heat Weapon from Gift of Flame</li>
                </ol>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Meta-magic /page -->

<!-- Range Page -->
<div data-role="page" class="jqm-demos jqm-home" id="range">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Range</h3>
                <p>The target of a Magic or Ability must be in range at the completion of an Incantation. The target being out of range at any other point does not prevent or interrupt the casting attempt. If a piece of equipment is the target, the physical equipment itself is what needs to be in range. If the incantation is completed and the target is not in range, the Magic or Ability has no effect but is still expended.</p>
                <ul>
                    <li>Self: Target must be the caster.</li>
                    <li>Other: Target must be other players that are in direct physical contact.</li>
                    <li>Touch: Target may be Self or Others. Any physical contact between caster and target is sufficient, or placing one's hand within six inches of the target</li>
                    <li>20': Target must be within 20' at upon completion of the incantation.</li>
                    <li>50': Target must be within 50' at upon completion of the incantation.</li>
                </ul>
                <p>Magic or Abilities that require physical contact may only be used provided at least one of the following is true:</p>
                <ul>
                    <li>The target is willing</li>
                    <li>The target is Dead</li>
                    <li>The target is Stunned</li>
                    <li>The target is Frozen</li>
                    <li>The target is Insubstantial and unable to move from their current location.</li>
                </ul>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Range /page -->

<!-- Resistant Page -->
<div data-role="page" class="jqm-demos jqm-home" id="resistant">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Resistant</h3>
                <p>The player is unaffected by the next effect of a given type. Unless otherwise noted, Resistant does not extend beyond the player that has it. Resistances always take effect after Immunities and Traits but before any other effects. Players must announce "resistant" upon triggering</p>
                <p><b>Melee:</b> Not affected by the next strike from a melee weapon. No effect on projectiles</p>
                <p><b>Wounds:</b> Does not receive the next Wound that would otherwise be inflicted</p>
                <p><b>School:</b> Immune to the next Magic or Ability from the given School</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Resistant /page -->

<!-- School Page -->
<div data-role="page" class="jqm-demos jqm-home" id="school">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>School</h3>
                <p>Magic and Abilities are divided into Schools, referred to commonly as the ‘Schools of Magic’. Each School specializes in a certain genre of magic and typically the effects of the different Magic and Abilities within a School are similar</p>
                <p><b>Command:</b> Typically makes players stop moving or change their actions in some manner. Frequently makes use of the Stopped, Frozen, and Insubstantial States. All offensive magic and abilities from the Command School are Verbals. All offensive magic and abilities from the Command School have the word <i>“command”</i> in the incantation</p>
                <p><b>Death:</b> Typically causes injury or death. Frequently makes use of the Cursed and Fragile States. All offensive magic and abilities from the Death School are Verbals. Offensive magic and abilities from the Death School tend to be very explicit about the result as part of the incantation such as <i>“I call for your death”</i></p>
                <p><b>Flame:</b>Typically destroys equipment or wounds/kills players. Offensive magic and abilities from the Flame School can be either a Verbal or a Magic Ball. Magic Balls from the Flame School typically destroy equipment and wound or kill players, while Verbals from the Flame School typically target equipment and destroy it, rather than targeting players themselves. All offensive Verbals from the Flame School have the word <i>“flame”</i> in the incantation</p>
                <p><b>Neutral:</b> Has effects that alter game play for the user in some manner and does not directly affect other players</p>
                <p><b>Protection:</b> Typically enchantments that provide magical armor, Immunity to a School, or Resistance to a School or State. There are no offensive magic or abilities in the Protection School</p>
                <p><b>Sorcery:</b> Typically effects that deal with raw magical force, manipulating magic itself, or controlling the aether. Offensive magic amd abilities from the Sorcery School tend to be very explicit about the result as part of the incantation and frequently includes the word <i>“power”</i>. Offensive magic and abilities from the Sorcery School are generally Verbals</p>
                <p><b>Spirit:</b> Typically Verbals that offer healing, resurrection, or the removal of harmful States with a few Enchantments sprinkled in.</p>
                <p><b>Subdual:</b> Typically makes a player stop moving or limits their actions. Makes use of the Stopped, Frozen, Stunned, and Suppressed States. All offensive magic and abilities in the Subdual School are Magic Balls</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- School /page -->

<!-- Specialty Arrows Page -->
<div data-role="page" class="jqm-demos jqm-home" id="arrows">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Specialty Arrows</h3>
                <p>Specialty Arrows which strike a player or object can have various effects.<p>
                <p>Unless otherwise noted:</p>
                <ol>
                    <li>Players may only bring a number of Specialty Arrows on to the battlefield equal to the maximum uses allowed to them. Likewise, players may also only carry up to that amount at any given time.
                        <ol type="a">
                            <li>Owners of Specialty Arrows may grant other players permission to carry their Specialty Arrows in order to return them to the owner or to the owner’s base, but may not grant anyone else permission to use them</li>
                        </ol>
                    </li>
                    <li>Specialty Arrows must be fired alone</li>
                    <li>Incantations for Specialty Arrows must be said immediately prior to firing, and said loudly and clearly enough to be heard within 50'</li>
                    <li>All Specialty Arrow Incantations are treated as Ambulant but do not require the statement of "Ambulant" before their incantation</li>
                    <li>Properly activated Specialty Arrows count as a normal hit from an arrow to the location struck in addition to their listed effects</li>
                </ol>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Specialty Arrows /page -->

<!-- Traits Page -->
<div data-role="page" class="jqm-demos jqm-home" id="traits">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Traits</h3>
                <p>Class Abilities that function all of the time without activation being required. Includes such things as Immunity and the ability to use extra equipment. Traits are denoted with a (T) and are always non-magical in nature. Traits may not be removed by any means and persist after respawn. Immunities granted by Traits persist after death. Traits are not enchantments, and do not count towards enchantment limits or count for the purposes of Attuned, Essence Graft, or similar magic and abilities. Note: Some Traits mimic other Magic or Abilities, but these Traits are still always on and ignore any Incantation or Materials requirement listed. Traits always take effect before Immunities, Resistances, and any other effects</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Traits /page -->

<!-- Verbal Page -->
<div data-role="page" class="jqm-demos jqm-home" id="verbal">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Verbal</h3>
                <p>Magics and Abilities that require an incantation to be activated. Verbals can have an immediate effect or impart a State or an Ongoing Effect. Ongoing Effects may have a duration, after which it expires. If a player would gain an Ongoing Effect they are already affected by, the Ongoing Effect’s duration will simply be adjusted to the new duration if it is longer than the current duration. An Ongoing Effect without a duration continues until it is removed by some outside force or until a condition is met. Unless otherwise noted, Ongoing Effects cannot apply to dead players and are removed when a player dies or has an effect activate which allows the player struck to avoid death (Undead Minion, Greater Undead Minion, Troll Blood, Phoenix Tears, Song of Survival)</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Verbal /page -->

<!-- Wound Trigger Page -->
<div data-role="page" class="jqm-demos jqm-home" id="woundtrigger">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

    <div role="main" class="ui-content">
            <div class="jqm-block-content">
                <h3>Wound Trigger</h3>
                <p>Magics and abilities with the Wound Trigger Limitation can only be used immediately after the caster causes a wound to an enemy (even if that wound kills the enemy; but not if the wound is not received, e.g. by a Resistance).</p>
                <p><i><a href="#magic-definitions">All Magic Definitions</a></i></p>
            </div>

    </div><!-- /footer -->

    </div><!-- /content -->

</div>
<!-- Wound Trigger /page -->
