<% @loaded = 'false' %>
<%  spellsVerbal = @allSpells.reject {|k,v|
          if (v['t'].casecmp('Enchantment')) != 0 && v.has_key?('t') && (v['t'].include? "Verbal")
               false
          else
               true
          end
               
     }%>

<div data-role="page" class="jqm-demos jqm-home" id="spells-verbal">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

         <div role="main" class="ui-content">
            <ul data-role="listview" data-filter="true" data-autodividers="true" data-filter-placeholder="Search Spells (Verbal)" data-inset="true" data-icon="false">

<% spellsVerbal.each {|key, value| %>

               <li><a href=<%="/spells/#{key[0]}##{key}"%> data-ajax="false"><%="#{value['name']}"%></a></li>
<% } %>
            </ul>
         </div>
         <!-- /content -->

</div><!-- /page -->

